<div class="product-cart__tag" style="
            display: inline-flex;
            background-color: #ddd !important;
            color: white;
            padding: 5px 10px;
            font-size: 13px;
            text-transform: uppercase;
            font-weight: bold;
            border-radius: 2px;
          ">new</div>
