{{ 'monogram.css' | asset_url | stylesheet_tag }}
<!-- New html for PDp -->
<div class="monogram-free">
  <a href="#" class="monogramming-popup-link">
    <span class="icon-pdp-monogram">
      <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 43 44"><defs><style>.cls-1{fill:#1b1c1e;}</style></defs><path class="cls-1" d="m37.77,10.01H5.23c-2.02,0-3.64,1.64-3.64,3.64v16.68c0,2.02,1.64,3.64,3.64,3.64h32.55c2.02,0,3.64-1.64,3.64-3.64V13.66c0-2.02-1.64-3.64-3.64-3.64Zm2.3,20.32c0,1.26-1.03,2.3-2.3,2.3H5.23c-1.28,0-2.3-1.03-2.3-2.3V13.66c0-1.26,1.03-2.3,2.3-2.3h32.55c1.26,0,2.3,1.03,2.3,2.3v16.68Z"/><path class="cls-1" d="m34.51,13.83H8.49c-1.56,0-2.82,1.26-2.82,2.82v10.7c0,1.56,1.26,2.82,2.82,2.82h26.01c1.56,0,2.82-1.26,2.82-2.82v-10.7c0-1.56-1.26-2.82-2.82-2.82Zm1.48,13.52c0,.82-.66,1.48-1.48,1.48H8.49c-.82,0-1.48-.66-1.48-1.48v-10.7c0-.82.66-1.48,1.48-1.48h26.01c.82,0,1.48.66,1.48,1.48v10.7Z"/><path class="cls-1" d="m13.09,18.68l-2.42,6.25h1.46l.39-1.07h2.8l.39,1.07h1.45l-2.41-6.25h-1.67Zm-.2,4.02l1.03-2.86,1.03,2.86h-2.07Z"/><path class="cls-1" d="m22.7,21.7c.59-.12,1.08-.64,1.08-1.44,0-.83-.6-1.6-1.8-1.6h-3.29v6.25h3.39c1.2,0,1.81-.75,1.81-1.69,0-.79-.54-1.44-1.2-1.53h.01Zm-2.67-1.88h1.67c.44,0,.73.3.73.69s-.28.7-.73.7h-1.67v-1.38Zm1.72,3.98h-1.72v-1.46h1.72c.52,0,.81.34.81.73,0,.44-.3.74-.81.74Z"/><path class="cls-1" d="m28.81,19.76c.7,0,1.25.4,1.52.91l1.14-.56c-.44-.78-1.24-1.53-2.66-1.53-1.83,0-3.28,1.32-3.28,3.24s1.45,3.24,3.28,3.24c1.42,0,2.22-.75,2.66-1.53l-1.14-.55c-.27.51-.82.91-1.52.91-1.09,0-1.91-.87-1.91-2.06s.82-2.06,1.91-2.06h0Z"/></svg>
    </span>
    <span class="mono-info">
      <span class="info-title">Add Classic Monogram</span>
      <span class="info-desc">Free</span>
    </span>
    <span class="tumi-icon-og">
<!--       <img src="https://cdn.shopify.com/s/files/1/0272/4233/2203/files/plush.svg?v=1650881874" alt="plush-icon" width="20" height="23"> -->
    <span class="addition-button">Add</span>
    </span>
  </a>
</div>
<div class="monogram-free monogram-active_mono">
  <div class="monogramming-popup-active">
    <div class="monogram-text-icon">
    <span class="monogram-text-preview">
      <span class="mono-letter"></span>
    </span>
    </div>

    <span class="mono-info">
      <span class="info-title">Classic Monogram Added</span>
    </span>
    <span class="tumi-icon-og">
<!--       <img src="https://cdn.shopify.com/s/files/1/0272/4233/2203/files/right.svg?v=1651153617" alt="right-icon" width="26" height="23"> -->

    <a href="#" class="monogramming-edit" data-url="https://www.tumi.sg/on/demandware.store/Sites-Tumi_SG-Site/en_SG/Monogram-Show?pid=tu-142480-1596">
        Edit
      </a>
      <span class="btn-divider">|</span>
      <a href="#" class="monogramming-remove">
        Remove
      </a>
      
    </span>
  </div>
</div>

<!--Side bar monogram content -->

<div class="modal-background"></div>
<div class="sidebar-wrapper">
  <div class="sidebar-content">
    <div class="sidebar-dismiss">
      <span class="close-iconss"></span>
    </div>
    <div class="sidebar-img">
      <img src="https://cdn.shopify.com/s/files/1/0272/4233/2203/files/new_patch_T.jpg?v=1650882873" alt="side bar image">
      <p class="line-item-property__field">
        <input id="text" type="text" name="properties[Text]" class="pro_textfield" maxlength="3" style="color:#005eb8;" >
      </p>
    </div>
    <div class="sidebar-header">Classic monogram</div>
    <div class="monogram-progress-bar">
      <ul class="progress-list nav">
        <li class="done" process-step='1'>
          <a href="#monogram-step1" class="nav-link monogram-step1"></a>
          <a href="#" class="link-step active">
            <span class="monogram-progress-step">Placement</span>
          </a>
        </li>
        <li process-step='2'>
          <a href="#monogram-step1" class="nav-link monogram-step1"></a>
          <a href="#" class="link-step active">
            <span class="monogram-progress-step">Initial</span>
          </a>
        </li>
        <li process-step='3'>
          <a href="#monogram-step1" class="nav-link monogram-step1"></a>
          <a href="#" class="link-step active">
            <span class="monogram-progress-step">Design</span>
          </a>
        </li>
      </ul>
      <p class="monogram-apply-failure">Please enter at least 1 character</p>
    </div>
    <div class="sidebar-body">
      <section class="monogram-wrapper">
        <div class="content">

          <div id="monogram-step1" class="monogram-step active">
            <div>
              <h3 class="monogram-header-content">Step 1: Placement</h3>
              <p class="monogram-description-content">Please select one or more options below.</p>
              <p class="monogram-message d-none">Please select one or more options.</p>
              <div class="monogram-type">
                <div class="option">
                  <input class="input-field" name="monogramType" value="MONOPATCH" data-type="MONOPATCH" id="classic-patch" checked="checked" type="checkbox">
                  <label for="classic-patch" class="label-checkbox">Apply on Patch
                  </label>
                </div>
              </div>
            </div>
            <div class="monogram-actions">
              <div class="inner-action ">
                <div class="button-next">
                  <button type="button" class="btn-step btn-mono-next" data-step="1">Next</button>
                </div>
              </div>
            </div>
          </div>

          <div id="monogram-step2" class="monogram-step">
            <div>
              <h3 class="monogram-header-content">Step 2: Select Initials</h3>
              <p class="monogram-description-content">Click each slot and use the keyboard to enter characters or select the symbols below.</p>
              <p class="monogram-message d-none">Please select one or more options.</p>
              <div class="monogram-input">
                <div class="input-wrapper">
                  <input type="text" class="js-name Initials_input selected" placeholder="A" maxlength="1" >
                </div>
                <div class="input-wrapper">
                  <input type="text" class="js-name Initials_input" placeholder="B" maxlength="1" >
                </div>
                <div class="input-wrapper">
                  <input type="text" class="js-name Initials_input last" placeholder="C" maxlength="1" >
                </div>
              </div>
              <div class="monogram-symbols">
                <ul>
                  <li>
                    <a href="#" title="hash" data-value="#">#</a>
                  </li>
                  <li>
                    <a href="#" title="exclam" data-value="!">!</a>
                  </li>
                  <li>
                    <a href="#" title="dot" data-value=".">.</a>
                  </li>
                  <li>
                    <a href="#" title="comma" data-value=",">,</a>
                  </li>
                  <li>
                    <a href="#" title="hyphen" data-value="-">-</a>
                  </li>
                  <li>
                    <a href="#" title="question" data-value="?">?</a>
                  </li>
                  <li>
                    <a href="#" title="ampersand" data-value="@">@</a>
                  </li>
                  <li>
                    <a href="#" title="dollar" data-value="$">$</a>
                  </li>
                </ul>
              </div>
            </div>
      
            <div class="monogram-actions">
              <div class="inner-action ">
                <div class="button-prev">
                  <button type="button" class="btn-step btn-mono-prev" data-step="1">Previous</button>
                </div>
                <div class="button-next">
                  <button type="button" class="btn-step btn-mono-next" data-step="1">Next</button>
                </div>

              </div>
            </div>
          </div>

          <div id="monogram-step3" class="monogram-step">
            <div>
              <h3 class="monogram-header-content">Step 3: Design</h3>
              <p class="monogram-description-content">Choose A Font: Times New Roman</p>
              <p class="monogram-message d-none">Please select one or more options.</p>
              <div class="font-items">
                <input type="radio" class="font-radio-selection font-times" name="font_style" data-name="times" data-title="Times New Roman" value="Times New Roman Bold, serif" checked="" id="font-style1">
                <label for="font-style1" class="font-label" title="Times New Roman" style="font-family: Times New Roman Bold, serif">ABC</label>
              </div>

              <div class="monogram-colors">
                <div class="line-item-property__field">
                  <label>Choose Color: <span class="input_color">Blue</span></label>
                  <div class="color-wrap">
                    <div class="color-item">
                      <input type="radio" name="properties[Color]" value="Blue" title="Blue" color_name="Blue"> <span><ly-as-276888>Blue</ly-as-276888></span>
                    </div>
 					<div class="color-item">
                      <input type="radio" name="properties[Color]" value="Red" title="Red" color_name="Red"> <span><ly-as-276893>Red</ly-as-276893></span>
                    </div>
                    	
                    <div class="color-item">
                      <input type="radio" name="properties[Color]" value="Green" title="Green" color_name="Green"> <span><ly-as-276890>Green</ly-as-276890></span>
                    </div>
                    <div class="color-item">
                      <input type="radio" name="properties[Color]" value="Orange" title="Orange" color_name="Orange"> <span><ly-as-276891>Orange</ly-as-276891></span>
                    </div>
                    <div class="color-item">
                      <input type="radio" name="properties[Color]" value="Metallic Pink" title="Metallic Pink" color_name="Metallic_Pink"> <span><ly-as-276892>Pink</ly-as-276892></span>
                    </div>
                   
                     <div class="color-item">
                      <input type="radio" name="properties[Color]" value="Metallic Purple" title="Metallic Purple" color_name="Metallic_Purple"> <span>Purple</span>
                    </div>
                    <div class="color-item">
                      <input type="radio" name="properties[Color]" value="Gold" title="Gold" color_name="Gold"> <span>Gold</span>
                    </div>
                    <div class="color-item">
                      <input type="radio" name="properties[Color]" value="Metallic Blue" title="Metallic Blue" color_name="Metallic_Blue"> <span>Metallic Blue</span>
                    </div>
                    <div class="color-item">
                      <input type="radio" name="properties[Color]" value="Silver" title="Silver" color_name="Silver"> <span><ly-as-276894>Silver</ly-as-276894></span>
                    </div>
                    
					<div class="color-item">
                      <input type="radio" name="properties[Color]" value="Copper" title="Copper" color_name="Copper"> <span>Copper</span>
                    </div>

                    <div class="color-item">
                      <input type="radio" name="properties[Color]" value="Blind" title="Transparent" color_name="#ffffff33"> <span><ly-as-276895>Transparent</ly-as-276895></span>
                    </div>
                  </div>

                </div>
              </div>

            </div>
            <div class="monogram-actions">
              <div class="inner-action ">
                <div class="button-prev">
                  <button type="button" class="btn-step btn-mono-prev" data-step="1">Previous</button>
                </div>

                <div class="button-next button-apply">
                  <button type="button" class="btn-step btn-mono-apply">Apply</button>
                </div>
              </div>
            </div>

          </div>

        </div>
      </section>
    </div>

    {% include 'monogram_footer' %}


  </div>
</div>


<script src="{{ 'monogram.js'  | asset_url }}"></script>