<script type="text/template" id="ReturnsModal">
	<div class="oc-returns-modal__container">
    	<div class="section-header text-center">
       		<h2>{{ pages['delivery-and-returns'].title }}</h2>
  		</div>
    	<div class="oc-returns-modal__content">
     		{{ pages['delivery-and-returns'].content }}
  		</div>
  	</div>
</script>
