<div class="footer-wrapper">
      <div class="monogram-cancel">
        <button type="button" class="monogram-cancel-btn">Cancel</button>
      </div>
      <div class="monogram-footer">
        <p>Note: Additional services, such as monograms, accent kits, and gift services, may require additional 3-7 business days as a separate task. </p>
      </div>
    </div>