<h2 id="size-chart" class="title-with-level size-guide-title font-century-std size-m uppercase"><span class="multiline-text"><ly-as-275812>SIZE CHART</ly-as-275812></span></h2><div class="tabs size-guide-tabs"><ul role="tablist" class="tabs-header"><li role="tab" id="equivalent-sizes-tab-header" aria-selected="true" aria-controls="equivalent-sizes-tab-content" tabindex="0" class="tabs-header-item-container"><span class="tabs-header-item tabs-header-item-selected"><span class="title-with-level font-century-std size-s bold uppercase"><span class="multiline-text"><ly-as-275813>EQUIVALENT SIZES</ly-as-275813></span></span></span></li><li role="tab" id="how-to-find-your-size-tab-header" aria-selected="false" aria-controls="how-to-find-your-size-tab-content" tabindex="-1" class="tabs-header-item-container"><span class="tabs-header-item"><span class="title-with-level font-century-std size-s uppercase"><span class="multiline-text"><ly-as-275814>HOW TO FIND YOUR SIZE?</ly-as-275814></span></span></span></li></ul><div class="tabs-content"><div role="tabpanel" id="equivalent-sizes-tab-content" aria-hidden="false" tabindex="0" aria-labelledby="equivalent-sizes-tab-header" class="content visible"><div><div id="size-tab-0" class="tab-content tab-content--active js-tab-content">

    <!-- Desktop -->
    <p class="margin text-centered small--hide">
        <ly-as-275815>To find out the equivalent sizes by country, please see the grid below.</ly-as-275815>
    </p>
    <h5 class="small--hide"><ly-as-275816>Measurement table</ly-as-275816></h5>
    <table class="cols-5-with-title js-table active small--hide">
        <thead>
        <tr>
            <th><ly-as-275817>Size Dior</ly-as-275817></th>
            <th>40</th>
            <th>42</th>
            <th>44</th>
            <th>46</th>
            <th>48</th>
            <th>50</th>
            <th>52</th>
            <th>54</th>
            <th>56</th>
            <th>58</th>
            <th>60</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="title"><ly-as-275818>Size SML</ly-as-275818></td>
            <td><ly-as-275819>XS</ly-as-275819></td>
            <td colspan="2">S</td>
            <td colspan="2">M</td>
            <td colspan="2">L</td>
            <td colspan="2"><ly-as-275820>XL</ly-as-275820></td>
            <td colspan="2"><ly-as-275821>XXL</ly-as-275821></td>
        </tr>
        </tbody>
    </table>

    <!-- Mobile -->
    <div class="rich-text margin-bottom-20 medium-up--hide">
        <p>    <ly-as-275815>To find out the equivalent sizes by country, please see the grid below.</ly-as-275815></p>
    </div>
    <div class="size-grid padded-content medium-up--hide">
        <table class="cols-2">
            <tbody><tr>
                <td class="size-grid-white"><ly-as-275817>Size Dior</ly-as-275817></td>
                <td class="size-grid-white"><ly-as-275818>Size SML</ly-as-275818></td>
            </tr>
            <tr>
                <td class="size-grid-black">40</td>
                <td><ly-as-275819>XS</ly-as-275819></td>
            </tr>
            <tr>
                <td class="size-grid-black">42</td>
                <td rowspan="2">S</td>
            </tr>
            <tr>
                <td class="size-grid-black">44</td>
            </tr>
            <tr>
                <td class="size-grid-black">46</td>
                <td rowspan="2">M</td>
            </tr>
            <tr>
                <td class="size-grid-black">48</td>
            </tr>
            <tr>
                <td class="size-grid-black">50</td>
                <td rowspan="2">L</td>
            </tr>
            <tr>
                <td class="size-grid-black">52</td>
            </tr>
            <tr>
                <td class="size-grid-black">54</td>
                <td rowspan="2"><ly-as-275820>XL</ly-as-275820></td>
            </tr>
            <tr>
                <td class="size-grid-black">56</td>
            </tr>
            <tr>
                <td class="size-grid-black">58</td>
                <td rowspan="2"><ly-as-275821>XXL</ly-as-275821></td>
            </tr>
            <tr>
                <td class="size-grid-black">60</td>
            </tr>
            </tbody></table>
    </div>

    <hr>
    <div class="size-guide--footer">
        <div>
            <img src="{{ '9483537-4-eng-GB.jpg' | asset_img_url: 'master' }}" width="28" height="16">
            <h5><ly-as-275822>TRYING ON SERVICE</ly-as-275822></h5>

            <p></p><p><ly-as-275823>Try on your products at home and if they do not fit, Dior will pay for their return for an exchange.&nbsp;</ly-as-275823></p><p></p>
        </div>
        <div>
            <img src="{{ '9483540-4-eng-GB.jpg' | asset_img_url: 'master' }}" width="17" height="16">
            <h5><ly-as-275824>ANY QUESTIONS?</ly-as-275824></h5>

            <p></p><p><a href="/couture/en_gb/horizon/contact-couture-old" target="_self" style="color:#000;"><ly-as-275825>Our advisers</ly-as-275825></a> <ly-as-275826>are available to help you from Monday to Saturday from 10 am to 7 pm.</ly-as-275826></p><p></p>
        </div>
    </div>

</div></div></div><div role="tabpanel" id="how-to-find-your-size-tab-content" aria-hidden="true" aria-labelledby="how-to-find-your-size-tab-header" class="content hidden">
    <div><div id="size-tab-1" class="tab-content js-tab-content">
        <h4 class="small--hide"></h4>
        <div class="margin small--hide">
            <div class="grid">
                <div class="column column-no-margin one-half">



                </div>
            </div>
        </div>

        <h5 class="small--hide"><ly-as-275827>Calculate your size</ly-as-275827></h5>
        <table class="cols-4-with-title js-table active small--hide">
            <thead>
            <tr>
                <th></th>
                <th colspan="2"></th>
                <th colspan="2"></th>
            </tr>
            </thead>
            <tbody>
            <tr class="grey">
                <td><ly-as-275828>Dior Size</ly-as-275828></td>
                <td><ly-as-275829>Shoulder width</ly-as-275829></td>
                <td><ly-as-275830>Arm length</ly-as-275830></td>
                <td><ly-as-275831>Hip circumference</ly-as-275831></td>
                <td><ly-as-275832>Leg Length</ly-as-275832></td>
            </tr>
            <tr>
                <td>40</td>
                <td>41</td>
                <td>58</td>
                <td>83.6</td>
                <td>105</td>
            </tr>
            <tr class="grey">
                <td>42</td>
                <td>42</td>
                <td>58.5</td>
                <td>86.4</td>
                <td>105.5</td>
            </tr>
            <tr>
                <td>44</td>
                <td>43</td>
                <td>59</td>
                <td>89.2</td>
                <td>106</td>
            </tr>
            <tr class="grey">
                <td>46</td>
                <td>44</td>
                <td>59.5</td>
                <td>92.1</td>
                <td>106.5</td>
            </tr>
            <tr>
                <td>48</td>
                <td>45</td>
                <td>60</td>
                <td>94.9</td>
                <td>107</td>
            </tr>
            <tr class="grey">
                <td>50</td>
                <td>46</td>
                <td>60.5</td>
                <td>97.7</td>
                <td>107.5</td>
            </tr>
            <tr>
                <td>52</td>
                <td>47</td>
                <td>61</td>
                <td>100.5</td>
                <td>108</td>
            </tr>
            <tr class="grey">
                <td>54</td>
                <td>48</td>
                <td>61.5</td>
                <td>103.4</td>
                <td>108.5</td>
            </tr>
            <tr>
                <td>56</td>
                <td>49</td>
                <td>62</td>
                <td>106.2</td>
                <td>109</td>
            </tr>
            <tr class="grey">
                <td>58</td>
                <td>50</td>
                <td>62.5</td>
                <td>109</td>
                <td>109.5</td>
            </tr>
            <tr>
                <td>60</td>
                <td>51</td>
                <td>63</td>
                <td>111.8</td>
                <td>110</td>
            </tr>

            </tbody>
        </table>
        <h4 class="subtitle medium-up--hide"></h4>
        <div class="size-grid padded-content medium-up--hide">
            <table class="cols-4">
                <tbody><tr>
                    <td colspan="4"></td>
                </tr>
                <tr>
                    <td class="size-grid-white"><ly-as-275828>Dior Size</ly-as-275828></td>
                    <td class="size-grid-white"><ly-as-275829>Shoulder width</ly-as-275829></td>
                    <td class="size-grid-white"><ly-as-275830>Arm length</ly-as-275830></td>
                    <td class="size-grid-white"><ly-as-275831>Hip circumference</ly-as-275831></td>
                </tr>
                <tr>
                    <td class="size-grid-black">40</td>
                    <td>41</td>
                    <td>58</td>
                    <td>83.6</td>
                </tr>
                <tr>
                    <td class="size-grid-black">42</td>
                    <td>42</td>
                    <td>58.5</td>
                    <td>86.4</td>
                </tr>
                <tr>
                    <td class="size-grid-black">44</td>
                    <td>43</td>
                    <td>59</td>
                    <td>89.2</td>
                </tr>
                <tr>
                    <td class="size-grid-black">46</td>
                    <td>44</td>
                    <td>59.5</td>
                    <td>92.1</td>
                </tr>
                <tr>
                    <td class="size-grid-black">48</td>
                    <td>45</td>
                    <td>60</td>
                    <td>94.9</td>
                </tr>
                <tr>
                    <td class="size-grid-black">50</td>
                    <td>46</td>
                    <td>60.5</td>
                    <td>97.7</td>
                </tr>
                <tr>
                    <td class="size-grid-black">52</td>
                    <td>47</td>
                    <td>61</td>
                    <td>100.5</td>
                </tr>
                <tr>
                    <td class="size-grid-black">54</td>
                    <td>48</td>
                    <td>61.5</td>
                    <td>103.4</td>
                </tr>
                <tr>
                    <td class="size-grid-black">56</td>
                    <td>49</td>
                    <td>62</td>
                    <td>106.2</td>
                </tr>
                <tr>
                    <td class="size-grid-black">58</td>
                    <td>50</td>
                    <td>62.5</td>
                    <td>109</td>
                </tr>
                <tr>
                    <td class="size-grid-black">60</td>
                    <td>51</td>
                    <td>63</td>
                    <td>111.8</td>
                </tr>

                </tbody></table>


            <table class="cols-4" style="margin-top: 40px;">
                <tbody><tr>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td class="size-grid-white"><ly-as-275828>Dior Size</ly-as-275828></td>
                    <td class="size-grid-white"><ly-as-275832>Leg Length</ly-as-275832></td>
                </tr>
                <tr>
                    <td class="size-grid-black">40</td>
                    <td>105</td>
                </tr>
                <tr>
                    <td class="size-grid-black">42</td>
                    <td>105.5</td>
                </tr>
                <tr>
                    <td class="size-grid-black">44</td>
                    <td>106</td>
                </tr>
                <tr>
                    <td class="size-grid-black">46</td>
                    <td>106.5</td>
                </tr>
                <tr>
                    <td class="size-grid-black">48</td>
                    <td>107</td>
                </tr>
                <tr>
                    <td class="size-grid-black">50</td>
                    <td>107.5</td>
                </tr>
                <tr>
                    <td class="size-grid-black">52</td>
                    <td>108</td>
                </tr>
                <tr>
                    <td class="size-grid-black">54</td>
                    <td>108.5</td>
                </tr>
                <tr>
                    <td class="size-grid-black">56</td>
                    <td>109</td>
                </tr>
                <tr>
                    <td class="size-grid-black">58</td>
                    <td>109.5</td>
                </tr>
                <tr>
                    <td class="size-grid-black">60</td>
                    <td>110</td>
                </tr>
                </tbody></table>
        </div>

        <hr>
        <div class="size-guide--footer">
            <div>
                <img src="{{ '9483537-4-eng-GB.jpg' | asset_img_url: 'master' }}" width="28" height="16">
                <h5><ly-as-275822>TRYING ON SERVICE</ly-as-275822></h5>

                <p></p><p><ly-as-275833>Essayez vos articles chez vous,&nbsp;s'ils ne conviennent pas,</ly-as-275833> <a href="/couture/en_gb/horizon/faq-couture" target="_self" style="color:#000;"><ly-as-275834>Dior prend en charge leurs retours pour échange</ly-as-275834></a></p><p></p>
            </div>
            <div>
                <img src="{{ '9483540-4-eng-GB.jpg' | asset_img_url: 'master' }}" width="17" height="16">
                <h5><ly-as-275824>ANY QUESTIONS?</ly-as-275824></h5>

                <p></p><p><a href="/couture/en_gb/horizon/contact-couture-old" target="_self" style="color:#000;"><ly-as-275825>Our advisers</ly-as-275825></a> <ly-as-275826>are available to help you from Monday to Saturday from 10 am to 7 pm.</ly-as-275826></p><p></p>
            </div>
        </div>


    </div></div>
</div></div></div>
