<h2 id="size-chart" class="title-with-level size-guide-title font-century-std size-m uppercase"><span class="multiline-text"><ly-as-275797>SIZE CHART</ly-as-275797></span></h2><div class="tabs size-guide-tabs"><ul role="tablist" class="tabs-header"><li role="tab" id="equivalent-sizes-tab-header" aria-selected="true" aria-controls="equivalent-sizes-tab-content" tabindex="0" class="tabs-header-item-container"><span class="tabs-header-item tabs-header-item-selected"><span class="title-with-level font-century-std size-s bold uppercase"><span class="multiline-text"><ly-as-275798>EQUIVALENT SIZES</ly-as-275798></span></span></span></li></ul><div class="tabs-content"><div role="tabpanel" id="equivalent-sizes-tab-content" aria-hidden="false" tabindex="0" aria-labelledby="equivalent-sizes-tab-header" class="content visible"><div><div id="size-tab-0" class="tab-content tab-content--active js-tab-content">
    <p class="margin text-centered small--hide">
        <ly-as-275799>Christian Dior shoes are made in Italy and come in Italian sizes.</ly-as-275799> <br>
        <ly-as-275800>To find out the equivalent sizes by country, please see the grid below.</ly-as-275800>
    </p>
    <h5 class="small--hide"><ly-as-275798>EQUIVALENT SIZES</ly-as-275798></h5>
    <table class="cols-10-with-title js-table active small--hide">
        <thead>
        <tr>
            <th class="title"><ly-as-275801>Dior</ly-as-275801></th>
            <th>38</th>
            <th>38,5</th>
            <th>39</th>
            <th>39,5</th>
            <th>40</th>
            <th>40,5</th>
            <th>41</th>
            <th>41,5</th>
            <th>42</th>
            <th>42,5</th>
            <th>43</th>
            <th>43,5</th>
            <th>44</th>
            <th>44,5</th>
            <th>45</th>
            <th>45,5</th>
            <th>46</th>
            <th>46,5</th>
            <th>47</th>
        </tr>
        </thead>
        <tbody>
        <tr class="grey">
            <td class="title"><ly-as-275802>FR</ly-as-275802></td>
            <td>39</td>
            <td>39,5</td>
            <td>40</td>
            <td>40,5</td>
            <td>41</td>
            <td>41,5</td>
            <td>42</td>
            <td>42,5</td>
            <td>43</td>
            <td>43,5</td>
            <td>44</td>
            <td>44,5</td>
            <td>45</td>
            <td>45,5</td>
            <td>46</td>
            <td>46,5</td>
            <td>47</td>
            <td>47,5</td>
            <td>48</td>
        </tr>
        <tr>
            <td class="title"><ly-as-275803>ITA</ly-as-275803></td>
            <td>38</td>
            <td>38,5</td>
            <td>39</td>
            <td>39,5</td>
            <td>40</td>
            <td>40,5</td>
            <td>41</td>
            <td>41,5</td>
            <td>42</td>
            <td>42,5</td>
            <td>43</td>
            <td>43,5</td>
            <td>44</td>
            <td>44,5</td>
            <td>45</td>
            <td>45,5</td>
            <td>46</td>
            <td>46,5</td>
            <td>47</td>
        </tr>
        <tr class="grey">
            <td class="title"><ly-as-275804>UK</ly-as-275804></td>
            <td>4</td>
            <td>4,5</td>
            <td>5</td>
            <td>5,5</td>
            <td>6</td>
            <td>6,5</td>
            <td>7</td>
            <td>7,5</td>
            <td>8</td>
            <td>8,5</td>
            <td>9</td>
            <td>9,5</td>
            <td>10</td>
            <td>10,5</td>
            <td>11</td>
            <td>11,5</td>
            <td>12</td>
            <td>12,5</td>
            <td>13</td>
        </tr>
        <tr>
            <td class="title"><ly-as-275805>US</ly-as-275805></td>
            <td>5</td>
            <td>5,5</td>
            <td>6</td>
            <td>6,5</td>
            <td>7</td>
            <td>7,5</td>
            <td>8</td>
            <td>8,5</td>
            <td>9</td>
            <td>9,5</td>
            <td>10</td>
            <td>10,5</td>
            <td>11</td>
            <td>11,5</td>
            <td>12</td>
            <td>12,5</td>
            <td>13</td>
            <td>13,5</td>
            <td>14</td>
        </tr>
        <tr class="grey">
            <td class="title">
                <ly-as-275806>KR</ly-as-275806>
            </td>
            <td>230</td>
            <td>235</td>
            <td>240</td>
            <td>245</td>
            <td>250</td>
            <td>255</td>
            <td>260</td>
            <td>265</td>
            <td>270</td>
            <td>275</td>
            <td>280</td>
            <td>285</td>
            <td>290</td>
            <td>295</td>
            <td>300</td>
            <td>305</td>
            <td>310</td>
            <td>315</td>
            <td>320</td>
        </tr>
        </tbody>
    </table>
    <!-- Mobile -->
    <div class="rich-text margin-bottom-20 medium-up--hide">
        <p>    <ly-as-275799>Christian Dior shoes are made in Italy and come in Italian sizes.</ly-as-275799> <br>
            <ly-as-275800>To find out the equivalent sizes by country, please see the grid below.</ly-as-275800></p>
    </div>
    <div class="size-grid padded-content medium-up--hide">
        <table class="cols-5">
            <thead>
            <tr><td><ly-as-275801>Dior</ly-as-275801></td>
                <td><ly-as-275802>FR</ly-as-275802></td>
                <td><ly-as-275803>ITA</ly-as-275803></td>
                <td><ly-as-275804>UK</ly-as-275804></td>
                <td><ly-as-275805>US</ly-as-275805></td>
                <td><ly-as-275806>KR</ly-as-275806></td>
            </tr></thead>
            <tbody>
            <tr>
                <td class="size-grid-black">38</td>
                <td>39</td>
                <td>38</td>
                <td>4</td>
                <td>5</td>
                <td>230</td>
            </tr>
            <tr>
                <td class="size-grid-black">38,5</td>
                <td>39,5</td>
                <td>38,5</td>
                <td>4,5</td>
                <td>5,5</td>
                <td>235</td>
            </tr>
            <tr>
                <td class="size-grid-black">39</td>
                <td>40</td>
                <td>39</td>
                <td>5</td>
                <td>6</td>
                <td>240</td>
            </tr>
            <tr>
                <td class="size-grid-black">39,5</td>
                <td>40,5</td>
                <td>39,5</td>
                <td>5,5</td>
                <td>6,5</td>
                <td>245</td>
            </tr>
            <tr>
                <td class="size-grid-black">40</td>
                <td>41</td>
                <td>40</td>
                <td>6</td>
                <td>7</td>
                <td>250</td>
            </tr>
            <tr>
                <td class="size-grid-black">40,5</td>
                <td>41,5</td>
                <td>40,5</td>
                <td>6,5</td>
                <td>7,5</td>
                <td>255</td>
            </tr>
            <tr>
                <td class="size-grid-black">41</td>
                <td>42</td>
                <td>41</td>
                <td>7</td>
                <td>8</td>
                <td>260</td>
            </tr>
            <tr>
                <td class="size-grid-black">41,5</td>
                <td>42,5</td>
                <td>41,5</td>
                <td>7,5</td>
                <td>8,5</td>
                <td>265</td>
            </tr>
            <tr>
                <td class="size-grid-black">42</td>
                <td>43</td>
                <td>42</td>
                <td>8</td>
                <td>9</td>
                <td>270</td>
            </tr>
            <tr>
                <td class="size-grid-black">42,5</td>
                <td>43,5</td>
                <td>42,5</td>
                <td>8,5</td>
                <td>9,5</td>
                <td>275</td>
            </tr>
            <tr>
                <td class="size-grid-black">43</td>
                <td>44</td>
                <td>43</td>
                <td>9</td>
                <td>10</td>
                <td>280</td>
            </tr>
            <tr>
                <td class="size-grid-black">43,5</td>
                <td>44,5</td>
                <td>43,5</td>
                <td>9,5</td>
                <td>10,5</td>
                <td>285</td>
            </tr>
            <tr>
                <td class="size-grid-black">44</td>
                <td>45</td>
                <td>44</td>
                <td>10</td>
                <td>11</td>
                <td>290</td>
            </tr>
            <tr>
                <td class="size-grid-black">44,5</td>
                <td>45,5</td>
                <td>44,5</td>
                <td>10,5</td>
                <td>11,5</td>
                <td>295</td>
            </tr>
            <tr>
                <td class="size-grid-black">45</td>
                <td>46</td>
                <td>45</td>
                <td>11</td>
                <td>12</td>
                <td>300</td>
            </tr>
            <tr>
                <td class="size-grid-black">45,5</td>
                <td>46,5</td>
                <td>45,5</td>
                <td>11,5</td>
                <td>12,5</td>
                <td>305</td>
            </tr>
            <tr>
                <td class="size-grid-black">46</td>
                <td>47</td>
                <td>46</td>
                <td>12</td>
                <td>13</td>
                <td>310</td>
            </tr>
            <tr>
                <td class="size-grid-black">46,5</td>
                <td>47,5</td>
                <td>46,5</td>
                <td>12,5</td>
                <td>13,5</td>
                <td>315</td>
            </tr>
            <tr>
                <td class="size-grid-black">47</td>
                <td>48</td>
                <td>47</td>
                <td>13</td>
                <td>14</td>
                <td>320</td>
            </tr>
            </tbody>
        </table>
    </div>

    <hr>
    <div class="size-guide--footer">
        <div>
            <img src="{{ '9483537-4-eng-GB.jpg' | asset_img_url: 'master' }}" width="28" height="16">
            <h5><ly-as-275807>TRYING ON SERVICE</ly-as-275807></h5>

            <p></p><p><ly-as-275808>Try on your products at home and if they do not fit, Dior will pay for their return for an exchange.&nbsp;</ly-as-275808></p><p></p>
        </div>
        <div>
            <img src="{{ '9483540-4-eng-GB.jpg' | asset_img_url: 'master' }}" width="17" height="16">
            <h5><ly-as-275809>ANY QUESTIONS?</ly-as-275809></h5>

            <p></p><p><a href="/couture/en_gb/horizon/contact-couture-old" target="_self" style="color:#000;"><ly-as-275810>Our advisers</ly-as-275810></a> <ly-as-275811>are available to help you from Monday to Saturday from 10 am to 7 pm.</ly-as-275811></p><p></p>
        </div>
    </div>

</div></div></div></div></div>
