<div class="advantage-list">
   <div class="advantage-list-content">
      <h2 id="the-e-boutique-services" class="title-with-level font-century-std size-l uppercase"><span class="multiline-text"><ly-as-263907>THE E-BOUTIQUE SERVICES</ly-as-263907></span></h2>
      <ul class="advantage-list-items">
         <li class="advantage-item">
           <span aria-hidden="true" class="css-13v079y ej69fo90" color="white" role="img">
              <svg viewBox="0 0 37 32">
                 <path d="M.4 4.3l8.3 4.1c.1 0 .2.1.3.1.2 0 .4-.1.5-.3.1-.4 0-.7-.3-.9L.9 3.2c-.1 0-.2-.1-.3-.1H.4c-.1.1-.2.2-.3.4-.1.1-.1.2-.1.4.1.2.2.3.4.4M5.5 2.7l8.3 4.1c.1 0 .2.1.3.1.2 0 .4-.1.5-.3.1-.1.1-.3.1-.4 0-.2-.2-.3-.3-.4L6 1.6c-.1 0-.2-.1-.3-.1h-.2c-.2 0-.3.2-.4.3 0 .4.1.7.4.9M10.1 1.1l8.3 4.2c.1 0 .2.1.3.1.2 0 .4-.1.5-.3.1-.1.1-.3.1-.4 0-.2-.2-.3-.3-.4L10.7.2c-.1-.2-.2-.2-.3-.2h-.2c-.2 0-.3.2-.4.3-.1.1-.1.3 0 .4.1.2.2.3.3.4M9.2 12L.9 7.8c-.1 0-.2-.1-.3-.1H.4c-.1.1-.2.3-.3.4-.1.2-.1.3-.1.5s.2.3.3.4l8.3 4.1c.1 0 .2.1.3.1.2 0 .4-.1.5-.3.2-.4.1-.8-.2-.9M9.2 17.2L.9 13H.4c-.2 0-.3.2-.4.3v.4c0 .2.2.3.3.4l8.3 4.1c.1 0 .2.1.3.1.2 0 .4-.1.5-.3.2-.3.1-.7-.2-.8M34.7 26.112h-.1l-11.1 4.2v-14.3l11.2-4.2v14.3zm-11.8-11.1l-9.4-4.1 5-2.2 9 4.5-4.6 1.8zm-.6 15.2l-9.7-4.1v-14.2l9.7 4.1v14.2zm1.6-23.8l9.8 4.5-4.6 1.7-9.1-4.5 3.9-1.7zm12 4.2c0-.1-.1-.1 0 0l-.1-.2c-.1 0-.1-.1-.1-.1l-11.4-5.2c-.2-.1-.3-.1-.5 0l-12 5.2v.1h-.2v.1c0 .1 0 .1-.1.1v15.9c0 .2.1.4.4.6l10.7 4.5c.2.1.3.1.4.1H23.3l12.4-4.7c.2-.1.4-.3.4-.6l-.2-15.8z"></path>
              </svg>
           </span>
           <h3 class="title-with-level font-century-std size-s bold uppercase"><span class="multiline-text"><ly-as-263908>COMPLIMENTARY SHIPPING</ly-as-263908></span></h3>
           <div class="advantage-item-text">
              <p><ly-as-263909>Enjoy complimentary Standard shipping</ly-as-263909></p>
           </div>
        </li>
         <li>
            <ul class="advantage-list-last-two">
               <li class="advantage-item">
                  <span aria-hidden="true" class="css-13v079y ej69fo90" color="white" role="img">
                     <svg data-name="Calque 1" viewBox="0 0 24.07 27.76">
                        <path d="M13.84 27.62a12.31 12.31 0 01-1.9.15A12.11 12.11 0 010 17.53a1.012 1.012 0 112-.31A10.1 10.1 0 1012.22 5.57L15 8.69A1 1 0 1113.51 10l-4-4.53a1 1 0 01-.25-.72 1 1 0 01.07-.25 1 1 0 010-.12 1 1 0 01.54-.58l4-3.54a1 1 0 011.33 1.49l-2.1 1.88a12.09 12.09 0 01.78 24z"></path>
                     </svg>
                  </span>
                  <h3 class="title-with-level font-century-std size-s bold uppercase"><span class="multiline-text"><ly-as-263910>Free returns</ly-as-263910></span></h3>
                  <div class="advantage-item-text">
                     <p><ly-as-263911>Free returns within 30 days for every order</ly-as-263911></p>
                  </div>
               </li>
               <li class="advantage-item">
                  <span aria-hidden="true" class="css-13v079y ej69fo90" color="white" role="img">
                     <svg viewBox="0 0 66.8 66.8">
                        <path d="M66.5 31L32.5.2c-.4-.4-1-.3-1.4.1L15.9 17.1c-3.5-2.9-7.1-5.4-8.9-5.2-.5.1-1 .3-1.3.8-.2 0-.3 0-.5.1-1.2.5-1.3 2.2-1.3 3.9v8c0 .5 0 1.1-.1 1.7-.1 1.5-.2 3.1.1 4.1l-3.6 4c-.4.4-.3 1 .1 1.4l5.5 5c-.5 1.1-.4 1.8-.4 2.1.1.8.6 1.9 2.2 2.5 2 .8 4.1 1.5 5.6 2.1l21 19c.2.2.4.3.7.3.3 0 .5-.1.7-.3l30.8-34c.4-.6.4-1.2 0-1.6zM27.8 57.9V46.8c.6-.1 1.2-.4 1.8-.9 1.4-1.2 5.6-2.5 7.1-2.9l1.8-.5-1.5-1.2s-1.8-1.6-4.2-4.6c-1.3-1.7-3.4-4.7-5-7.1v-.4c3.6 1.3 8 2.3 10.4 2.3.5 0 1-.1 1.3-.2.6-.2.8-.6.9-.9.3-1 .2-2.7.1-4.2 0-.6-.1-1.2-.1-1.7v-8c0-2.3-.5-3.7-1.6-4-.2-.1-.3-.1-.5-.1-2.8-1.1-6.4.3-10.5 4l-.1.1V6.9l4-4.5 32.5 29.4L35 64.4l-7.2-6.5zM8.4 43.6c-.7-.3-.9-.7-.9-1v-.4c0-.3.1-.7.3-1.1.1-.3.3-.6.4-1 1.5-2.8 5.2-6.7 8.7-10 .7-.6 1.4-1.2 2-1.8.1-.1.2-.1.3-.2.2-.2.5-.4.7-.6-.1.1-.3.3-.4.5-.2.2-.4.5-.6.8-.7.9-1.4 1.9-2 3-.1.2-.3.5-.4.7-.2.3-.4.7-.5 1l-.6 1.5c-.5 1.4-.7 2.8-.6 4.2.1.8.3 1.7.4 2.6.3 1.7.7 3.5.3 4.4-.1 0-.3-.1-.4-.1-.2-.1-.4-.1-.7-.2-.7-.2-1.5-.5-2.4-.8-.8-.3-1.7-.6-2.5-.9-.4-.3-.7-.5-1.1-.6zm6.7-24.5c-.2-.1-.4-.3-.7-.4-.1-.1-.3-.2-.4-.2-2.4-1.4-4.6-2.9-5.7-4l-.4-.4-.1-.1c1.3.5 3.8 2.3 6.7 4.6.2.2.4.3.6.5zm23.5 7.3c.1 1 .2 2.4 0 3.2-1.5.2-6.8-1-10.8-2.5-.7-.3-1.4-.5-2-.8.1-.2.1-.5.1-.8 0-.3 0-1.2-.1-2.1.6-.3 1.2-.6 2-1.1 3.6-1.9 8.8-5 10.2-7 .1-.2.2-.3.3-.5.1.4.2 1 .2 1.8v8c0 .5 0 1.1.1 1.8zM26.1 43.7c-.1-.1-.1-.3-.2-.7-.9-2.7-3-12.1-2.3-14.6l.8-.4c.4.5.9 1.3 1.5 2.3.6.9 1.3 1.9 2 3 1.2 1.8 2.5 3.6 3.5 4.8 1.3 1.6 2.4 2.8 3.2 3.6-1.9.6-4.8 1.7-6.2 2.8-.2.1-.3.2-.5.3-.2.1-.4.1-.5.1-.4-.1-.8-.3-1.3-1.2zm-8.9-2.4c-.1-.6-.3-1.3-.3-1.9 0-.2-.1-.3-.1-.5-.1-.6 0-1.2.1-1.9.3-1.6 1.1-3.3 2-4.8.5-.8 1-1.5 1.5-2.1-.4 2.2-.9 4.7-1.5 7-.5 1.9-.9 3.7-1.4 5.3-.2-.3-.3-.7-.3-1.1zm3.6-18.9s.1 0 .2-.1c.1 0 .4-.1.7-.1h1.9c0 .1 0 .2.1.3 0 .1 0 .2.1.3 0 .1.1.3.1.5 0 .1 0 .2.1.4 0 .2.1.4.1.7 0 .3.1.6.1.9v.5c-.1.1-.4.1-.7.1-.2 0-.5 0-.7-.1-.3 0-.6-.1-.8-.1-.1 0-.2 0-.3-.1h-.1c-.3-.1-.5-.1-.7-.1v-.6-.5-.2-.1-.8-.2-.3c-.1-.1-.1-.3-.1-.4zm7-2.4c-.5.3-1 .5-1.4.8.5-.5.9-1 1.4-1.5 2.6-2.6 5.8-5.1 8.5-5.1-.9 1.3-4.7 3.7-8.5 5.8zm-2-1.5c-.6.6-1.2 1.3-1.7 1.8h-.4c-1.5-.1-2.9-.1-3.8.4-.4-.3-.7-.6-1.1-1v-2.8l7-7.7v9.3zM5.7 26.4c0-.7.1-1.3.1-1.8v-8c0-.9 0-1.4.1-1.7.1.1.3.2.5.5 1.1 1.3 3.9 3.2 6.7 4.8.3.2.6.4.9.5.3.2.6.3.9.5.7.4 1.4.8 2 1.1.8.4 1.4.8 2 1.1v.6c0 .7-.1 1.3 0 1.8-.3.2-.5.4-.8.7-.4.2-.7.3-1.1.5-3.1 1.2-7.1 2.2-9.5 2.5-.6.1-1.1.1-1.4.1h-.2c0-.3-.1-.7-.1-1.2-.1-.7-.1-1.4-.1-2zm-.2 5.1H6c1.9 0 5-.6 8-1.5-4 3.8-6.2 6.7-7.3 8.8L2.4 35l3.1-3.5zm13.3 12.9c1.2-3.1 2.2-7.4 2.9-11 .6 4.8 2.2 10.5 2.6 11.3.5.8.9 1.3 1.5 1.7v9.8l-7-6.3v-5.5z"></path>
                     </svg>
                  </span>
                  <h3 class="title-with-level font-century-std size-s bold uppercase"><span class="multiline-text"><ly-as-263912>ART OF GIFTING</ly-as-263912></span></h3>
                  <div class="advantage-item-text">
                     <p><ly-as-263913>Your order will be presented in an iconic Dior gift box</ly-as-263913></p>
                  </div>
               </li>
            </ul>
         </li>
      </ul>
   </div>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
