
<div class="page-width">
  <div class="landing-video">
    <div class="landing-video-inner">
      {% if section.settings.jou_video_embed != blank %}
      <iframe allowfullscreen src="{{ section.settings.jou_video_embed }}{% if section.settings.autoplay == true %}?autoplay=1{% else %}?autoplay=0{% endif %}{% if section.settings.mute == true %}&mute=1{% else %}&mute=0{% endif %}">
      </iframe>
      {% else %}
      <iframe allowfullscreen src="https://www.youtube.com/embed/ESJDwllGeXs{% if section.settings.autoplay == true %}?autoplay=1{% else %}?autoplay=0{% endif %}{% if section.settings.mute == true %}&mute=1{% else %}&mute=0{% endif %}">
      </iframe>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Journey youtube Video",
    "settings": [
		{
          "type": "url",
          "id": "jou_video_embed",
          "label": "Video Url",
		  "info": "Demo URL: https://youtu.be/aLdvgLHawqc"
        },
        {
          "type": "checkbox",
          "id": "autoplay",
          "label": "AutoPlay",
          "default": true
        },
		{
          "type": "checkbox",
          "id": "mute",
          "label": "Mute Video",
          "default": true
        }
	],
	"presets": [
     {
       "name": "Journey youtube Video"
     }
   ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
