<style>
.sc-content-inner p{
	font-size: 18px;
    color: #212529;
  	text-align: center;
} 
.sc-content {
  padding-top:1.5rem;
  display: flex;
  justify-content:center;
}
@media all and (min-width: 750px){
  .sc-content-inner{
  	width: 80%;
  }  
}
@media all and (max-width: 749px){
  .sc-content-inner{
  	max-width: 400px;
    width: 100%;
  }  
  .sc-content-inner p {
    font-size: 14px;
  }
}
 @media all and (min-width:1024px){
  div.sc-content{
    padding-top:3.5rem;
  } 
} 
</style>
<div class="page-width">
  <div class="sc-content">
    <div class="sc-content-inner">

        {% if section.settings.jou_title != blank %}
      	{{ section.settings.jou_title }}
      	{% else %}
        <h3>Gracie and Anthony Travel with TEGRA-LITE®</h3>
      	{% endif %}


      
    	{% if section.settings.jou_paragraph != blank %}
      	{{ section.settings.jou_paragraph }}
      	{% else %}
      	<p>The TUMI team accompanied singer-songwriter Gracie Abrams and actor and musician Anthony Ramos to film their global travel stories with durable, resilient, sustainable TEGRA-LITE® pieces. Each video highlights features of TEGRA-LITE® and showcases the collection as one that is built to last and essential for people on the move. </p>
      	{% endif %}
    </div>  
  </div>
</div>

{% schema %}
{
  "name": "Journey Custom Content",
  "settings": [
    {
      "type": "richtext",
      "id": "jou_title",
      "label": "title"
    },
    {
      "type": "richtext",
      "id": "jou_paragraph",
      "label": "Paragraph"
    }
  ]
}
{% endschema %}