<div class="app_con app_game game-img" data-aos="fade" data-aos-id="game-img">
  <div class="app_wrapper row">
    <!-- <img src="img/game_img.png" class="col-12 col-md-6 order-2 order-md-1" data-aos="fade-up"> -->
    <div class="col-12 col-md-6 order-2 order-md-1" data-aos="fade-up"> 
      <video loop autoplay playsInline muted id="game_video">
        <source src="https://cdn.shopify.com/s/files/1/0272/4233/2203/files/IG-Filter_moving_image.mp4" type="video/mp4">
        <img src="{{"game_img_new.png" | asset_img_url: "original"}}" width=100%>
      </video>
    </div>
    <div class="desc_box col-12 col-md-6 order-1 order-md-2" data-aos="fade-up">
      <div>
        <h3><ly-as-275728>Play the game “Perfecting The Journey”</ly-as-275728></h3>
        <p><ly-as-275729>Speed through jungles, racetracks, and cityscapes in a new Instagram filter game, controlling your vehicle with facial movements as you collect your favorite TUMI bags on a fast-paced obstacle course</ly-as-275729></p>
        <a href="#"><ly-as-275730>Play The Game</ly-as-275730></a>
      </div>
    </div>
  </div>
  <img src="{{"game1.png" | asset_img_url: "original"}}" class="game_1 tumi_animated animate__delay-1s">
  <img src="{{"game2-new.png" | asset_img_url: "original"}}" class="game_2 tumi_animated animate__delay-1s">
</div> 