<div class="store-locator-entry">
    <div class="store-locator-entry-text">
        <h2 id="our-boutiques" class="title-with-level font-century-std size-l uppercase"><span class="multiline-text"><ly-as-275732>Our boutiques</ly-as-275732></span></h2>
        <div class="store-locator-entry-form">
            <form class="autocomplete-field" action="https://www.dior.com/store/en_int" target="_blank">
                <div role="combobox" aria-haspopup="listbox" aria-owns="react-autowhatever-auto-suggest-input_search_store_id" aria-expanded="false" class="react-autosuggest__container">
                    <input type="text" autocomplete="off" aria-autocomplete="list" aria-controls="react-autowhatever-auto-suggest-input_search_store_id" class="react-autosuggest__input" id="input_search_store_id" placeholder="City, Post code, Country" aria-label="aria_enterCityZipCountry" value="" name="search">
                    <div id="react-autowhatever-auto-suggest-input_search_store_id" role="listbox" class="react-autosuggest__suggestions-container suggestions-container-empty">
                        <div class="react_autosuggest__sections-container"></div>
                    </div>
                </div>
                <button aria-label="aria_searchStore" class="button-link autocomplete-field-submit black"><span class="button-link-content"><span class="store-locator-entry-icon"><span class="icon css-13v079y ej69fo90" color="white" role="img"><svg data-name="Calque 1" viewBox="0 0 18.99 18.98"><path d="M19 18.06l-6.84-6.87a6.88 6.88 0 10-.92.92L18.08 19zm-12.15-5.6a5.63 5.63 0 115.64-5.62 5.63 5.63 0 01-5.64 5.62z" fill-rule="evenodd"></path></svg></span></span>
                    </span>
                </button>
            </form>
        </div>
    </div>
</div>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
