{% section 'legal-custom' %}

<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1><ly-as-276615>LEGAL TERMS</ly-as-276615></h1>
      </div>

      <div class="rte">
        
            <div class="transverse-container transverse-well js-accordion">
              <h2 class="first">
                <ly-as-276616>FRAGRANCE &amp; BEAUTY</ly-as-276616>
              </h2>
          
              <div
                class="scroll-area scroller accordion-section--inactive js-accordion-section"
                style="display: block;"
              >
                <div class="scrollbar">
                  <div class="track">
                    <div class="thumb"><div class="end"></div></div>
                  </div>
                </div>
                <div class="viewport">
                  <div class="overview" tabindex="0">
                    <p>
                      <ly-as-276617>This site (hereinafter the "Site") is published by Parfums Christian
                      Dior, a Société Anonyme having its head office located at 33, avenue
                      Hoche 75008 PARIS, with a share capital of 2,620,860 Euros, registered
                      with the Paris Commercial and Companies Registry under number 552 065
                      187. The Publication Director and Editorial Manager of the Site is
                      Valérie Loh, International Internet Manager, CRM &amp; Media. Hosting
                      of the Site is provided by LINKBYNET&nbsp;5-9 Rue, de l'Industrie -
                      93200 Saint-Denis.</ly-as-276617>
                    </p>
                    <p>
                      <ly-as-276618>Access to the site, as well as the use of its contents, is subject to
                      the following terms of use. Accessing and browsing the Site
                      constitutes unconditional acceptance by the visitor of the following
                      stipulations: The Site is owned exclusively by Parfums Christian Dior
                      which is the only entity authorized to use the intellectual property
                      rights and personality rights related thereto, in particular the
                      brand, models, copyrights and image rights, in terms of originals or
                      through express authorization.</ly-as-276618><br />
                      <ly-as-276619>Christian Dior is the owner of the brands: 克麗絲汀, 迪奧, 姫仙蒂婀
                      克里斯蒂昂 迪奥, КРИСТИАН ДИОР, דיור ディオール,
                      クリスチャンディオール.</ly-as-276619><br /><ly-as-276620>The use of all or part of the Site,
                      particularly through downloading, reproduction, transfer or
                      representation for purposes other than personal and private use for
                      non-commercial intentions, is strictly prohibited.</ly-as-276620>
                    </p>
                    <p>
                      <ly-as-276621>Parfums Christian Dior endeavors to make its best efforts to ensure
                      the accuracy and updates of the information distributed on its Site
                      and reserves the right to correct, at any moment without prior notice,
                      its contents. However, Parfums Christian Dior cannot guarantee the
                      accuracy, precision and exhaustivity of information available on the
                      Site.</ly-as-276621>
                    </p>
                    <p>
                      <ly-as-276622>As a result, Parfums Christian Dior accepts no responsibility
                      whatsoever: for any imprecision, inaccuracy or omission with regard to
                      information available on the Site, for any damage resulting from the
                      intrusion by a third party leading to modification of the information
                      available on the Site, and, more generally, for any damage, direct or
                      indirect, for whatever cause, origin, nature and consequence, brought
                      about by anyone having access to the Site or the impossibility of
                      accessing the Site; likewise for the use of the Site and/or credit
                      granted to any information emanating directly or indirectly from the
                      latter.</ly-as-276622>
                    </p>
                    <p>
                      <ly-as-276623>Visitors are likely to provide personal data. Provision of this
                      personal information is optional. in accordance with the French Data
                      Protection and Civil Liberties Law n° 78-17 of 6 January 1978, each
                      visitor may access personal data concerning him/her and amend or
                      delete it, if appropriate, by contacting Parfums Christian Dior -
                      Customer Services Department - 33 avenue Hoche 75008 Paris.</ly-as-276623>
                    </p>
                    <p>
                      <ly-as-276624>Parfums Christian Dior may set up a "cookie" on the visitor's computer
                      who allows him/herself to be identified. The visitor is reminded that
                      it is possible to refuse the installation of "cookies" on his/her
                      computer by configuring his/her browser accordingly. Parfums Christian
                      Dior has installed the means to ensure the security of files
                      constituted from personal data collected on the Site. However, Parfums
                      Christian Dior is not able to control the risks linked to operation of
                      the Internet and would draw the internet user's attention to the
                      existence of possible risks concerning the confidentiality of data
                      transiting through this network and accepts no responsibility
                      whatsoever concerning this risk. The creation of hypertext links to
                      the Site may only be done so with the prior, written authorization of
                      Parfums Christian Dior, which may be revoked at any time. As a result,
                      Parfums Christian Dior accepts no responsibility whatsoever concerning
                      the contents of sites linked to the Site.</ly-as-276624>
                    </p>
                    <p>
                      <ly-as-276625>Parfums Christian Dior informs visitors to the Site that these
                      conditions may be changed at any time. These modifications are
                      published online and are considered to be accepted unconditionally by
                      all visitors accessing the site following their publication on line.</ly-as-276625>
                    </p>
                    <p>
                      <ly-as-276626>The present terms and conditions are governed by French law. French
                      courts of law are territorially qualified and are acquainted with any
                      lawsuits related to use of the Site.</ly-as-276626>
                    </p>
                    <p>
                      <ly-as-276627>Click on this link if you wish to send a message to our host. (Law n°:
                      2004-575 of 21 June 2004)</ly-as-276627>
                    </p>
                    <p><ly-as-276628>&nbsp;</ly-as-276628></p>
                    <p class=" text-justify"><ly-as-276629>29/08/2019 9:15 pm</ly-as-276629></p><br><br>
                  </div>
                </div>
              </div>

              <div
                class="accordion-title-wrapper js-accordion-trigger"
                tabindex="0"
                role="button"
                aria-expanded="false"
              >
                <h3 class="accordion-title">
                  <ly-as-276630>General Terms and Conditions of Sale and Customer</ly-as-276630>
                </h3>
                <div class="accordion-arrow"></div>
              </div>

              <div
                class="scroll-area scroller accordion-section--inactive js-accordion-section"
                style="display: none;"
              >
                <div class="scrollbar">
                  <div class="track">
                    <div class="thumb"><div class="end"></div></div>
                  </div>
                </div>
                <div class="viewport">
                  <div class="overview" tabindex="0">
                    <p>
                      <u><ly-as-276631>General Terms and Conditions of Sale</ly-as-276631></u><br />
                      <ly-as-276632>Welcome to www.dior.com. This section of our Website sets out our
                      General Terms and Conditions of Sale (“Terms”) including our full
                      delivery and returns process.</ly-as-276632><br />
                      <ly-as-276633>These Terms apply to all sales of products made to you, the customer,
                      via www.dior.com (“the Website”). Please read these Terms carefully
                      before submitting your order to us. These Terms tell you who we are,
                      how we will provide products to you, how you and we may change or end
                      the contract, what to do if there is a problem and other important
                      information.</ly-as-276633><br />
                      <ly-as-276634>By placing an order with us you confirm that you agree to these Terms.
                      If you do not agree to the Terms, please do not place any orders
                      through the Website.</ly-as-276634><br />
                      <ly-as-276635>We reserve the right to make changes to these Terms at any time and
                      the new version of the Terms will apply to any offer or order placed
                      on the Website after the new version has been posted. We therefore
                      advise you to make sure you are happy with the Terms each time you
                      place an order.</ly-as-276635><br />
                      <ly-as-276636>Our Website is solely for the promotion of our products in the UK.
                      Unfortunately, we do not accept orders from nor deliver to addresses
                      outside the UK.</ly-as-276636><br />
                      <u><ly-as-276637>1.&nbsp;</ly-as-276637></u><u><ly-as-276638>&nbsp;Information about us and how to contact us</ly-as-276638></u
                      ><br />
                      <ly-as-276639>We are&nbsp;Parfums Christian Dior (U.K.) Ltd&nbsp;a company
                      registered in England &amp; Wales. Our company registration number is
                      01012371 and our registered office is at United Kingdom House 6th
                      Floor, 180 Oxford Street, London, W1D 1AB. You can contact us through
                      our Customer Care team which is available to you as follows:</ly-as-276639><br />
                      <ly-as-276640>Opening hours: 10am – 6pm Monday to Friday excluding Bank Holidays in
                      France (Current United Kingdom House 6th Floor, 180 Oxford Street,
                      London, W1D 1AB are detailed in our Customer Care and FAQs
                      document)</ly-as-276640><br />
                      <ly-as-276641>Phone number: 0207 216 0216</ly-as-276641><br />
                      <ly-as-276642>Email address: contact@dior.com</ly-as-276642><br />
                      <ly-as-276643>Live Chat&nbsp;</ly-as-276643><u><ly-as-276644>link</ly-as-276644></u><br />
                      <ly-as-276645>Store Locator&nbsp;</ly-as-276645><u><ly-as-276644>link</ly-as-276644></u><br />
                      <ly-as-276646>If we have to contact you we will do so by telephone or by writing to
                      you at the email address or postal address you provided to us in your
                      order.</ly-as-276646><br />
                      <u><ly-as-276647>2. Our products</ly-as-276647></u><br />
                      <ly-as-276648>The images of the products on our website are for illustrative
                      purposes only and although every effort is made to display colours
                      accurately, we cannot guarantee that a device's display of the colours
                      accurately reflects the colour of the products. Your products may vary
                      slightly from those images.&nbsp;</ly-as-276648><br />
                      <ly-as-276628>&nbsp;</ly-as-276628><br />
                      <ly-as-276628>&nbsp;</ly-as-276628><br />
                      <u><ly-as-276649>3. Our contract with you</ly-as-276649></u><br />
                      <ly-as-276650>3.1. Orders</ly-as-276650><br />
                      <ly-as-276651>Our acceptance of your order will take place when we send you an order
                      confirmation email.&nbsp; At this point, a contract for the sale and
                      purchase of the ordered products will come into existence between you
                      and us. &nbsp;</ly-as-276651><br />
                      <ly-as-276652>If we are unable to accept your order we will inform you of this by
                      email and will not charge you for the products. This might be
                      because:-</ly-as-276652><br />
                      <ly-as-276653>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; the product is out
                      of stock</ly-as-276653><br />
                      <ly-as-276654>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; we have identified
                      an error in the price or description of the product</ly-as-276654><br />
                      <ly-as-276655>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; you have exceeded
                      our Maximum Purchase Policy set out below</ly-as-276655><br />
                      <ly-as-276656>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; your billing name
                      and address does not match that of the credit card used for payment</ly-as-276656><br />
                      <ly-as-276657>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; we need to deal with
                      technical problems with the product or make minor technical
                      changes;</ly-as-276657><br />
                      <ly-as-276658>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; we need to update
                      the product to reflect changes in relevant laws and regulatory
                      requirements.</ly-as-276658><br />
                      <ly-as-276659>Please note that we are unable to process orders to a P.O Box
                      address.</ly-as-276659><br />
                      <ly-as-276660>When we have accepted your order you will see a confirmation page that
                      gives you your unique reference number and the total sum deducted from
                      your credit or debit card account. You can print this page for your
                      reference, or alternatively wait until you receive this information in
                      our acceptance email titled "Thank you for placing your order". The
                      email will show all details of items purchased, delivery addresses,
                      delivery options and packaging options, which you can keep for your
                      records.</ly-as-276660><br />
                      <ly-as-276661>If you have any questions about an order, please contact our Customer
                      Care Team using the contact details in condition 1. It will help us if
                      you can tell us the order number whenever you contact us about your
                      order.</ly-as-276661><br />
                      <ly-as-276662>3.2. Price and Payment</ly-as-276662><br />
                      <ly-as-276663>The price of the products (which includes VAT) is displayed throughout
                      your online journey, either visible in the dropdown basket on the top
                      banner of the website or on the checkout pages when you place an
                      order. If there is a change in the rate of VAT between your order date
                      and the date we supply the products, we will adjust the rate of VAT
                      that you pay, unless you have already paid for the products in full
                      before the change took effect.</ly-as-276663><br />
                      <ly-as-276664>We take all reasonable care to ensure that the price of the products
                      advised to you is correct but in the unlikely event that the products
                      are incorrectly priced, we will contact you for your instructions
                      before we accept your order.&nbsp; If we accept and process your order
                      where a pricing error is obvious and unmistakeable and could
                      reasonably have been recognised by you as a mispricing, we may end the
                      contract, refund you any sums you have paid and require the return of
                      any products provided to you.</ly-as-276664><br />
                      <ly-as-276665>You can pay for products using the following payment options:</ly-as-276665><br />
                      <ly-as-276666>CREDIT / DEBIT CARDS ACCEPTED:</ly-as-276666><br />
                      <ly-as-276667>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; American
                      Express</ly-as-276667><br />
                      <ly-as-276668>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; MasterCard</ly-as-276668><br />
                      <ly-as-276669>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Maestro</ly-as-276669><br />
                      <ly-as-276670>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Visa</ly-as-276670><br />
                      <ly-as-276628>&nbsp;</ly-as-276628><br />
                      <ly-as-276671>WE'RE SORRY, WE DO NOT ACCEPT:</ly-as-276671><br />
                      <ly-as-276672>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Cheques</ly-as-276672><br />
                      <ly-as-276673>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Postal
                      Orders</ly-as-276673><br />
                      <ly-as-276674>We are sorry, but at this time, we do not offer gift certificates or
                      gift cards.</ly-as-276674><br />
                      <ly-as-276675>You must pay for the products before we dispatch them. We will not
                      charge your credit or debit card until we dispatch the products to
                      you.</ly-as-276675><br />
                      <ly-as-276676>IMPORTANT INFORMATION:</ly-as-276676><br />
                      <ly-as-276677>For your security and to avoid any fraudulent transactions, your
                      billing name and address must match that of the credit card used for
                      payment. We reserve the right to cancel any order that does not match
                      these criteria.</ly-as-276677><br />
                      <ly-as-276678>3.3. Maximum Purchase Policy</ly-as-276678><br />
                      <ly-as-276679>We regret that we must limit any orders to no more than four (4) units
                      of any item per order; and (ii) per customer in case of multiple
                      orders placed within 12 months.</ly-as-276679><br />
                      <ly-as-276680>3.4. Order Cancellations</ly-as-276680><br />
                      <ly-as-276681>Occasionally, orders or parts of an order are cancelled by our system
                      for various reasons. Some reasons are:</ly-as-276681><br />
                      <ly-as-276682>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Item(s) not
                      available;</ly-as-276682><br />
                      <ly-as-276683>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Difficulty in
                      processing payment information;</ly-as-276683><br />
                      <ly-as-276684>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Cannot deliver
                      to address provided;</ly-as-276684><br />
                      <ly-as-276685>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Duplicate
                      order was placed.</ly-as-276685><br />
                      <ly-as-276686>If your order is cancelled by us, you will receive an email to explain
                      the reason for the cancellation. Your original payment method will be
                      refunded for the appropriate amount.</ly-as-276686><br /><ly-as-276687>If you wish to change or
                      cancel your order prior to dispatch please call our Customer Care Team
                      on 0207 216 0216 with your order number, to discuss what practical
                      options are available to you. Please note as we generally process
                      orders very quickly and dispatch orders within 1-2 days therefore it
                      may not be possible to prevent your order from being dispatched. In
                      this instance, please return your order once received in accordance
                      with our Returns Policy which is set out below and in our Customer
                      Care and FAQs document.</ly-as-276687>
                    </p>
                    <p>
                      <u><ly-as-276688>4. Delivery</ly-as-276688></u>
                    </p>
                    <p>
                      <ly-as-276689>4.1. Standard Delivery</ly-as-276689><br />
                      <ly-as-276690>We offer complimentary delivery on all orders to the address specified
                      by you in your order by DPD, usually within 3 – 5 working days from
                      the date your order is accepted by us. Working days are Monday through
                      Friday excluding French and UK bank holidays.</ly-as-276690><br />
                      <ly-as-276691>Please allow two additional days for deliveries to the Scottish
                      Highlands, Aberdeen, Northern Ireland and other rural areas. Please
                      note that some deliveries to Northern Ireland could be delayed by
                      Irish Customs and we are not responsible for any delays caused by
                      this. We apologise in advance for any inconvenience this may cause our
                      customers. Unfortunately for select postcodes in specific rural areas
                      we may offer limited delivery options. You will be notified of this at
                      checkout.</ly-as-276691><br />
                      <ly-as-276692>If our supply of the products is delayed by an event outside our
                      control then we will contact you as soon as possible to let you know
                      and we will take steps to minimise the effect of the delay. Provided
                      we do this we will not be liable for delays caused by the event, but
                      if there is a risk of substantial delay you may contact us to end the
                      contract and receive a refund for any products you have paid for but
                      not received.</ly-as-276692><br />
                      <ly-as-276693>All orders require a signature upon delivery. If you are not there to
                      receive your order DPD will leave contact information and a delivery
                      card for you to make alternative arrangements. To ensure secure and
                      undamaged delivery of your order, DPD will not be able to leave your
                      order 'hidden' at the delivery address unless this is specifically
                      requested by you to DPD.</ly-as-276693><br />
                      <ly-as-276694>If, after a failed delivery to you, you do not re-arrange delivery or
                      collect the products from the delivery depot then either we or DPD
                      will contact you for further instructions and may charge you for
                      storage costs and any further delivery costs. If, despite our
                      reasonable efforts, we are unable to contact you or re-arrange
                      delivery or collection we may end the contract and you may be liable
                      to pay us compensation.</ly-as-276694><br />
                      <ly-as-276695>We are sorry we only deliver online orders to UK addresses (excluding
                      the Channel Islands).</ly-as-276695><br />
                      <ly-as-276696>4.2. Delivery Addresses</ly-as-276696><br />
                      <ly-as-276697>Unless you tell us otherwise during the ordering process, we will
                      deliver your purchased products to the delivery address you have
                      provided in your account information.</ly-as-276697><br />
                      <ly-as-276698>To ensure that there are no mistakes with addresses and to check that
                      our delivery company has all the correct details, we use a system that
                      verifies your address using your postcode.</ly-as-276698><br />
                      <ly-as-276699>We will take all reasonable care to deliver to the address given.
                      However we will not be liable for non-delivery or mis-delivery as a
                      result of incorrect data entry by you.</ly-as-276699><br />
                      <ly-as-276700>4.3 Ownership and Responsibility</ly-as-276700><br />
                      <ly-as-276701>You will be responsible for the products once they have been delivered
                      to the address you have provided.</ly-as-276701><br />
                      <ly-as-276702>You own the products once we have received payment in full.</ly-as-276702><br />
                      <u><ly-as-276703>5. Your rights to end the contract</ly-as-276703></u><br />
                      <ly-as-276704>You may be entitled to end your contract with us and return the
                      products, but your right to end the contract will depend on the
                      products you have purchased, whether you have simply changed your
                      mind, whether there is anything wrong with the products we have
                      supplied, how we are performing and when you decide to end the
                      contract.</ly-as-276704><br />
                      <ly-as-276705>If what you have bought is faulty or misdescribed you may have a legal
                      right to end the contract (or to get the product replaced or to get
                      some or all of your money back), see condition 5.3.</ly-as-276705><br />
                      <ly-as-276706>If you want to end the contract because of something we have done or
                      have told you we are going to do, see condition 5.1.</ly-as-276706><br />
                      <ly-as-276707>If you have just changed your mind about the product, see condition
                      5.2. You may be able to get a refund if you are within the
                      “cooling-off period”, but this may be subject to deductions.</ly-as-276707><br />
                      <ly-as-276628>&nbsp;</ly-as-276628><br />
                      <ly-as-276628>&nbsp;</ly-as-276628><br />
                      <ly-as-276708>5.1Ending the contract because of something we have done or are going
                      to do</ly-as-276708><br />
                      <ly-as-276709>&nbsp;If you are ending a contract for a reason set out below the
                      contract will end immediately and we will refund you in full for any
                      products which have not been provided and you may also be entitled to
                      compensation. The reasons are:</ly-as-276709><br />
                      <ly-as-276710>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; we have told you
                      about an error in the price or description of the product you have
                      ordered and you do not wish to proceed;</ly-as-276710><br />
                      <ly-as-276711>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; there is a risk that
                      supply of the products may be significantly delayed because of events
                      outside our control;</ly-as-276711><br />
                      <ly-as-276712>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; we have suspended
                      supply of the products for technical reasons, or notify you we are
                      going to suspend them for technical reasons; or</ly-as-276712><br />
                      <ly-as-276713>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; you have a legal
                      right to end the contract because of something we have done wrong.</ly-as-276713><br />
                      <ly-as-276714>5.2 Your right to change your
                      mind&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ly-as-276714><br />
                      <ly-as-276715>Whilst we hope that you are delighted with your order, if for any
                      reason you are not entirely satisfied or you otherwise change your
                      mind, you have a legal right to change your mind and receive a refund
                      within fourteen (14) days after the day the products were delivered to
                      you or, where the products have been supplied in instalments, fourteen
                      (14) days after the day on which the last instalment was
                      supplied.&nbsp; Please note you must return the products and all
                      complimentary items to us to receive a refund.</ly-as-276715><br />
                      <ly-as-276716>You do not have a right to change your mind in respect of products
                      where any hygiene seal or similar protection on those products has
                      been broken or tampered with. This does not apply if you are making a
                      return because the products are faulty or damaged (see below).</ly-as-276716><br />
                      <ly-as-276717>5.3 If there is a problem with the product</ly-as-276717><br />
                      <ly-as-276718>Please notify us immediately after delivery of any damage or fault or
                      incorrectly supplied products or if the items listed on the dispatch
                      note do not match those contained in your delivery by calling our
                      Customer Care Team 0207 216 0216 (Monday - Friday 10am – 6pm excluding
                      French Bank Holidays) or by emailing us at contact@dior.com with your
                      order details. To ensure prompt resolution, please provide the order
                      number and keep the box, packing materials, all complimentary items
                      and the damaged items for inspection by the carrier.</ly-as-276718><br />
                      <ly-as-276719>We are obliged to provide you with products that are in conformity
                      with this contract. See below a summary of your key legal rights.
                      &nbsp;The Consumer Rights Act 2015 says goods must be as described,
                      fit for purpose and of satisfactory quality. During the expected
                      lifespan of your product your legal rights entitle you to the
                      following:</ly-as-276719><br />
                      <ly-as-276720>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; if your products are
                      faulty within the first 30 days after the products have been delivered
                      to you, you may choose to receive a full refund or a replacement for
                      those products.</ly-as-276720><br />
                      <ly-as-276721>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; if your products are
                      faulty within the first 6 months after the products have been
                      delivered to you and cannot be repaired or replaced, you may choose to
                      receive a full refund or a replacement for those products, in most
                      cases.&nbsp;</ly-as-276721><br />
                      <ly-as-276722>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; if your goods do not
                      last a reasonable length of time you may be entitled to some money
                      back.&nbsp;&nbsp;</ly-as-276722><br />
                      <ly-as-276723>Please note that if you return products more than 30 days after the
                      date they were delivered to you, then we may make a deduction from any
                      refund for use you have had of those products since delivery.</ly-as-276723><br />
                      <ly-as-276724>If you wish to exercise your legal rights to reject products you must
                      either post them and all complimentary items back to us or allow us to
                      collect them from you. We will pay the costs of postage or collection.
                      Please call Customer Care using the contact details in condition 1 for
                      a return label or to arrange collection.</ly-as-276724><br />
                      <ly-as-276725>Please ensure you obtain a Proof of Postage when you return the
                      products to us. You should retain your Proof of Postage in order to
                      provide proof to us that you have returned the products and all
                      complimentary items, in the unlikely event that we do not receive the
                      returned parcel.</ly-as-276725><br />
                      <u><ly-as-276726>6. How to make a return</ly-as-276726></u><br />
                      <ly-as-276727>If you are entitled to return products under condition 5, you may
                      return your order free of charge via DPD. &nbsp;&nbsp;&nbsp;</ly-as-276727><br />
                      <ly-as-276728>Please note that if you make a return using a method other than by DPD
                      (i.e. via Royal Mail or an alternative courier) and you have simply
                      changed your mind, you will be responsible for any applicable costs
                      and charges involved.</ly-as-276728><br />
                      <ly-as-276729>Within the order packaging, you will find a Returns Form with details
                      of your order together with details of our returns process.</ly-as-276729><br />
                      <ly-as-276730>We may reduce your refund of the price to reflect any reduction in the
                      value of the products, if this has been caused by your handling them
                      in a way which would not be permitted in a shop. In such
                      circumstances, we will notify you that a reduced refund amount will be
                      available or you can choose to arrange for such products to be
                      returned to you within 28 days of our notification.</ly-as-276730><br />
                      <ly-as-276731>a)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Returning Products</ly-as-276731><br />
                      <ly-as-276732>Products and all complimentary items must be returned to us promptly
                      at our distribution centre. If you are returning products because you
                      have changed your mind, products and complimentary items must be
                      received at our distribution centre no later than 14 days after the
                      date you tell us you have changed your mind to maintain your
                      entitlement to a refund. &nbsp;Please ensure that the returned parcel
                      is properly sealed.</ly-as-276732><br />
                      <ly-as-276733>If you return your parcel via DPD you will receive proof of postage
                      and a code to track your return online at&nbsp;</ly-as-276733><a
                        href="http://www.dpd.co.uk/"
                        target="_self"
                        ><ly-as-276734>www.dpd.co.uk</ly-as-276734></a
                      >.<br />
                      <ly-as-276735>if you make a return using a method other than DPD, please obtain and
                      retain your proof of postage in order to provide proof to us that you
                      have returned the products in the unlikely event that we do not
                      receive the returned parcel.</ly-as-276735><br />
                      <ly-as-276736>b)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Processing the Refund</ly-as-276736><br />
                      <ly-as-276737>If you have returned products because you have changed your mind, we
                      will process the calculated refund as soon as possible and in any
                      event within fourteen (14) days after the day we receive the returned
                      products or (if earlier) the day on which you provide us with evidence
                      of having sent the products back to us at our distribution centre. We
                      will not be obliged to make a refund if you cannot provide evidence
                      that you have sent the products and all complimentary items back to us
                      so therefore please ensure that you retain, and are able to provide,
                      proof of postage. Please note that a full refund will not be provided
                      for returned products that show signs of unreasonable use.</ly-as-276737><br />
                      <ly-as-276738>If you have returned products because they are damaged, faulty or
                      incorrect, we will process your refund as soon as possible and in any
                      event within fourteen (14) days after the day we receive your returned
                      products and confirm you are entitled to a refund.</ly-as-276738><br />
                      <ly-as-276739>Refunds will only be made against the original credit/debit card used
                      for the purchase. You will receive email notification of your refund
                      from our Customer Care Team.</ly-as-276739><br />
                      <ly-as-276740>If you have chosen to exchange the relevant products, please note we
                      can only offer exchanges that are equivalent or less than the value of
                      the original order. If you request to exchange for a value less than
                      the value of the original order, we will credit the original
                      credit/debit card used to make the order with the difference in
                      value.</ly-as-276740><br />
                      <ly-as-276741>If you have requested an exchange or replacement on your Returns note,
                      this will be processed within seven (7) working days of receiving your
                      returned products and will be delivered via standard delivery.
                      Deliveries of exchanged or replacement products will be completed on
                      the Delivery terms set out above.</ly-as-276741><br />
                      <u><ly-as-276742>7. Our liability to you</ly-as-276742></u><br />
                      <ly-as-276743>We do not exclude or limit in any way our liability to you where it
                      would be unlawful to do so. This includes liability for death or
                      personal injury caused by our negligence or the negligence of our
                      employees, agents or subcontractors; for fraud or fraudulent
                      misrepresentation; for breach of your legal rights in relation to the
                      products and for defective products under the Consumer Protection Act
                      1987</ly-as-276743><br />
                      <ly-as-276744>If we fail to comply with these Terms or fail to use reasonable skill
                      and care in relation to our arrangements with you, we are responsible
                      to you for foreseeable loss and damage caused to you as a
                      result.&nbsp; Loss or damage is foreseeable it is oblivious it would
                      happen or if, at the time the contract was made between us, both we
                      and you knew it might happen.</ly-as-276744><br />
                      <ly-as-276743>We do not exclude or limit in any way our liability to you where it
                      would be unlawful to do so. This includes liability for death or
                      personal injury caused by our negligence or the negligence of our
                      employees, agents or subcontractors; for fraud or fraudulent
                      misrepresentation; for breach of your legal rights in relation to the
                      products and for defective products under the Consumer Protection Act
                      1987</ly-as-276743><br />
                      <ly-as-276745>We only supply the products to you for private use and not for
                      commercial, business or resale purposes. We therefore will have no
                      liability to you for any loss of profit, loss of business, business
                      interruption or loss of business opportunity.</ly-as-276745><br />
                      <u><ly-as-276746>8. Personal Data</ly-as-276746></u><br />
                      <ly-as-276747>We will use the personal information you provide to us:</ly-as-276747><br />
                      <ly-as-276748>(a) to supply the products to you;</ly-as-276748><br />
                      <ly-as-276749>(b) to process your payment for the products; and</ly-as-276749><br />
                      <ly-as-276750>(c) if you agreed to this during the order process, to inform you
                      about similar products that we provide, but you may stop receiving
                      this at any time by contacting us.</ly-as-276750><br />
                      <ly-as-276751>We will only give your personal information to third parties where the
                      law either requires or allows us to do so.</ly-as-276751><br />
                      <ly-as-276752>Please see our&nbsp;Privacy and Cookies Policy&nbsp;to understand how
                      we will use personal information submitted by you when creating an
                      account, purchasing products and when you are otherwise using the
                      Website.&nbsp;</ly-as-276752><br />
                      <ly-as-276628>&nbsp;</ly-as-276628><br />
                      <u><ly-as-276753>9. Other Important Terms</ly-as-276753></u><br />
                      <ly-as-276754>We may transfer our rights and obligations under these Terms to
                      another person or organisation. We will tell you in writing if this
                      happens and we will ensure that the transfer will not affect your
                      rights under the contract.</ly-as-276754><br />
                      <ly-as-276755>You may only transfer your rights or your obligations under these
                      Terms to another person if we agree to this in writing. We will not
                      unreasonably withhold or delay our consent.</ly-as-276755><br />
                      <ly-as-276756>This contract is between you and us. No other person shall have any
                      rights to enforce any of its Terms.</ly-as-276756><br />
                      <ly-as-276757>Each of the paragraphs of these Terms operates separately. If any
                      court or relevant authority decides that any of them are unlawful or
                      unenforceable, the remaining paragraphs will remain in full force and
                      effect.</ly-as-276757><br />
                      <ly-as-276758>If we do not insist immediately that you do anything you are required
                      to do under these Terms, or if we delay in taking steps against you in
                      respect of your breaking this contract, that will not mean that you do
                      not have to do those things and it will not prevent us taking steps
                      against you at a later date.</ly-as-276758><br /><ly-as-276759>These Terms are governed by English
                      law and you can bring legal proceedings in respect of the products in
                      the English courts. &nbsp;If you live in Scotland you can bring legal
                      proceedings in respect of the products in either the Scottish or the
                      English courts. If you live in Northern Ireland you can bring legal
                      proceedings in respect of the products in either the Northern Irish or
                      the English courts</ly-as-276759>
                    </p>
                    <p><ly-as-276628>&nbsp;</ly-as-276628></p>
                    <p class=" text-justify"><ly-as-276760>17/03/2020 6:40 pm</ly-as-276760></p>
                  </div>
                </div>
              </div>

              <div
                class="accordion-title-wrapper js-accordion-trigger"
                tabindex="0"
                role="button"
                aria-expanded="false"
              >
                <h3 class="accordion-title">
                  <ly-as-276761>Rouge Dior 999 Activation Terms and Conditions</ly-as-276761>
                </h3>
                <div class="accordion-arrow"></div>
              </div>

              <div
                class="scroll-area scroller accordion-section--inactive js-accordion-section"
              >
                <div class="scrollbar">
                  <div class="track">
                    <div class="thumb"><div class="end"></div></div>
                  </div>
                </div>
                <div class="viewport">
                  <div class="overview" tabindex="0">
                    <p>
                      <b><u><ly-as-276762>PART I. Competition Details</ly-as-276762></u></b>
                    </p>
                    <p>
                      <ly-as-276763>Promoter: Parfums Christian Dior (UK) Ltd, 180 Oxford Street, W1D 1AB,
                      London. (the "</ly-as-276763><b><ly-as-276764>Promoter</ly-as-276764></b>")
                    </p>
                    <p>
                      <b><ly-as-276765>Eligibility</ly-as-276765></b><ly-as-276766>: UK and Ireland residents aged 18+ only. Entrants
                      must have internet access and an Instagram account to participate.
                      Entrants’ Instagram account privacy settings must be set to public for
                      Promoter to receive their Promotion entry.</ly-as-276766><br /><b
                        ><ly-as-276767>How to Enter Requirements:</ly-as-276767></b
                      >
                    </p>
                    <p>
                      <ly-as-276768>Enter via Instagram, as follows:</ly-as-276768>
                    </p>
                    <p>
                      <ly-as-276769>1. Like the Rouge Dior giveaway Instagram post by the influencer</ly-as-276769>
                      <b><ly-as-276770>and</ly-as-276770></b>
                    </p>
                    <p>
                      <ly-as-276771>2. Tag a friend in the comments by referencing their Instagram
                      handle;</ly-as-276771><b> <ly-as-276770>and</ly-as-276770></b>
                    </p>
                    <p><ly-as-276772>3. Follow the influencer</ly-as-276772> <b><ly-as-276770>and</ly-as-276770></b></p>
                    <p>
                      <ly-as-276773>4. Follow @diorbeautylovers.</ly-as-276773>
                    </p>
                    <p>
                      <b><ly-as-276774>Prize:</ly-as-276774></b> <ly-as-276775>if selected as the winner of the Prize, the entrant will
                      receive 1 full size Forever foundation in either Matte or Glow and in
                      his/her choice of shade, and 1 full-size Rouge Dior Ultra Care 999,
                      this is subject to availability and the Promoter reserves the right to
                      replace this with alternative products of equivalent value.</ly-as-276775>
                    </p>
                    <p>
                      <b><ly-as-276776>Promotion date:</ly-as-276776></b> <ly-as-276777>as from</ly-as-276777> <b><ly-as-276778>09.00 on 09/09/2019</ly-as-276778> </b><ly-as-276779>(the</ly-as-276779>
                      <b><ly-as-276780>Entry Open Date</ly-as-276780></b><ly-as-276781>) until</ly-as-276781> <b><ly-as-276782>23.59 on 15/09/2019</ly-as-276782> </b><ly-as-276779>(the</ly-as-276779>
                      <b><ly-as-276783>Entry Closing Date</ly-as-276783></b>)
                    </p>
                    <p>
                      <b><ly-as-276784>Drawing Procedure:</ly-as-276784></b> <ly-as-276785>One winner per influencer giveaway will be
                      selected during the Drawing Date by an independent person, based on a
                      randomised draw. There will be a total of 100 winners.</ly-as-276785> <br /><b
                        ><ly-as-276786>Notification of Winner(s):</ly-as-276786></b
                      >
                    </p>
                    <p>
                      <ly-as-276787>Winners will be notified by direct private message via Instagram as
                      from 23/09/2019 and be asked to provide their chosen Forever
                      foundation shade and their mailing address for the delivery.</ly-as-276787>
                    </p>
                    <p>
                      <ly-as-276788>If a winner does not respond via the above route after 5 working days
                      of the Promoter’s initial contact being made, by providing their
                      chosen foundation shade and, mailing address details for the prize to
                      be despatched to, the Promoter reserves the right to draw alternative
                      winner(s) by the independent person as mentioned above.</ly-as-276788>
                    </p>
                    <p>
                      <ly-as-276789>Prize will be delivered in the 30 days following the communication of
                      the details above mentioned by the Winner.</ly-as-276789>
                    </p>
                    <p>
                      <ly-as-276790>By taking part in accordance with the above entrance criteria, the
                      participants accept and agree to respect the present Terms &amp;
                      Conditions.</ly-as-276790>
                    </p>
                    <p>
                      <b><ly-as-276791>Promoter’s Privacy Policy</ly-as-276791></b><ly-as-276792>:
                      https://www.dior.com/en_gb/personal-data</ly-as-276792><br />
                      <b><u><ly-as-276793>PART II. General Terms and Conditions</ly-as-276793></u></b
                      ><br /><b><ly-as-276794>Entry and eligibility</ly-as-276794></b>
                    </p>
                    <p>
                      <b>1.</b> <ly-as-276795>Entries will only be considered form participants residing
                      in the UK or Ireland. The prizes will only be delivered to addresses
                      in the UK &amp; Ireland.</ly-as-276795>
                    </p>
                    <p>
                      <b>2.</b> <ly-as-276796>Entries must be received between the Entry Open Date and the
                      Entry Closing Date.</ly-as-276796><br /><b>3.</b> <ly-as-276797>The competition is free to enter
                      and no purchase is necessary.</ly-as-276797>
                    </p>
                    <p>
                      <ly-as-276628>&nbsp;</ly-as-276628>
                    </p>
                    <p>
                      <b>4.</b> <ly-as-276798>Promoter’s employees, their immediate family or any third
                      party directly associated with the promotion are not eligible to
                      enter.</ly-as-276798>
                    </p>
                    <p>
                      <b>5.</b> <ly-as-276799>Incomplete, illegal, misdirected or late entries will not be
                      valid. Proof of complying with the How to Enter Requirements will not
                      be accepted as proof of receipt or entry. Promoter is not responsible
                      for entries lost, damaged or delayed due to technical or connectivity
                      or other problems.</ly-as-276799><br /><b>6.</b> <ly-as-276800>Only one entry per person. Bulk
                      entries from trade, consumer groups or other parties will not be
                      valid. Multiple entries made by the same person from various email,
                      social media or other accounts or from the same IP address will not be
                      valid.</ly-as-276800>
                    </p>
                    <p>
                      <b>7.</b> <ly-as-276801>Any entries which do not comply with the How to Enter
                      Requirements, or which contain any abusive, inappropriate, offensive
                      or obscene language or imagery will be disqualified. Examples of
                      language/images considered to be inappropriate, offensive or obscene,
                      include (but are not limited to): any message/image which contains (a)
                      swearing; (b) comments or actions which appear to be discriminatory of
                      any person, company or group of individuals, for example comments of a
                      racist, sexist or homophobic nature; (c) sexual innuendo, sexual
                      language or sexual acts, actions or gestures; (d) promoting any
                      illegal unlawful activity such as drug use; (e) any message that
                      appears to be an advertisement or solicitation to buy; and (f) any
                      materials (whether written or visual) that directly or indirectly
                      relate to Promoter’s competitor brands or that show any intention of
                      promoting any brand other than Promoter brand.</ly-as-276801>
                    </p>
                    <p>
                      <b><ly-as-276802>Prize fulfilment and disqualification</ly-as-276802></b>
                    </p>
                    <p>
                      <b>8.</b> <ly-as-276803>Prizes are as stated, they are not transferable and there
                      are no alternative prizes or cash substitutes. Promoter reserves the
                      right to substitute a prize of equal or greater value in the event
                      that the selected prize is unavailable for any reason whatsoever.</ly-as-276803>
                    </p>
                    <p>
                      <b>9.</b> <ly-as-276804>A winner forfeits their prize and Promoter reserves the
                      right to select at random an alternative winner if:</ly-as-276804>
                    </p>
                    <p>
                      <ly-as-276805>(a) after 5 working days of being notified by Promoter, a winner does
                      not respond or does not provide their full name and relevant details;
                      or</ly-as-276805>
                    </p>
                    <p>
                      <ly-as-276806>(b) if a prize is rejected or returned undeliverable; or</ly-as-276806>
                    </p>
                    <p>
                      <ly-as-276807>(c) if an entry is invalid or an entrant is disqualified or in breach
                      of the present Terms and Conditions.</ly-as-276807><br /><b>10.</b> <ly-as-276808>Promoter reserves
                      the right to disqualify an entrant or winner that, in its absolute
                      discretion, could bring Promoter into disrepute.</ly-as-276808>
                    </p>
                    <p>
                      <b>11.</b> <ly-as-276809>Promoter shall disqualify any entries that have failed to
                      abide by and/or are in breach of the present Terms and Conditions.</ly-as-276809>
                    </p>
                    <p>
                      <b>12</b><ly-as-276810>. The name of the winner(s) can be obtained by any entrants
                      by sending a stamped, self-addressed envelope, within 4 weeks of the
                      prize draw date to the Promoter at Parfums Christian Dior (UK) Ltd,
                      180 Oxford Street, W1D 1AB, London, referencing the Promotion name.
                      The name of the winner(s) shall not be disclosed by the entrants to
                      third parties.</ly-as-276810><br /><b><ly-as-276811>Personal Information</ly-as-276811></b>
                    </p>
                    <p>
                      <b>13.</b> <ly-as-276812>All personal details and/or information given either in the
                      entry process or otherwise must be truthful, accurate and in no way
                      misleading. Promoter reserves the right to disqualify entrants if they
                      have supplied untruthful, inaccurate or misleading personal details
                      and/or information.</ly-as-276812><br /><b>14</b><ly-as-276813>. Any personal information that
                      entrants share with the Promoter (including name, address, email,
                      social media profile, or other data) will be kept secure and only used
                      in line with Promoter’s Privacy Policy and the present Terms and
                      Conditions. By entering the competition, entrants acknowledge and
                      agree that (i) their name and image may be disclosed to other
                      participants if selected as winners (ii) their information may be used
                      by the Promoter and its suppliers to administer the Promotion. The
                      Promoter may contact entrants by email, post, phone, SMS or other
                      means in relation to the Promotion, but will not send entrants any
                      marketing communication unless entrants have also agreed to this.</ly-as-276813>
                    </p>
                    <p>
                      <b><ly-as-276814>Limitation of Liability</ly-as-276814></b>
                    </p>
                    <p>
                      <b>15.</b><ly-as-276815>Neither Promoter nor agencies nor suppliers involved in this
                      promotion may be liable to the entrants, whether arising from tort
                      including negligence or otherwise or for any damage, loss, liabilities
                      or disappointment incurred or suffered whatsoever as a result of or
                      relating to participation in this competition or the prizes to the
                      extent permissible by law. For the avoidance of doubt, this clause
                      does not exclude, nor limit, any liability for fraud, personal injury
                      or death resulting from an act or omission of Promoter, agencies or
                      suppliers.</ly-as-276815>
                    </p>
                    <p>
                      <b>16.</b> <ly-as-276816>Promotor shall not be liable for any special, indirect,
                      incidental, consequential or economic loss, howsoever caused, arising
                      out of or in connection with the present Terms and Conditions.</ly-as-276816>
                    </p>
                    <p>
                      <b>17.</b> <ly-as-276817>No compensation for loss of earnings will be paid by
                      Promoter for participation in any aspect of this competition.</ly-as-276817>
                    </p>
                    <p>
                      <b><ly-as-276818>Social Media Platform Specific Terms</ly-as-276818></b>
                    </p>
                    <p>
                      <b>18.</b> <ly-as-276819>Entrants must have internet access and a public Instagram
                      account to be eligible.</ly-as-276819><br /><b>19.</b> <ly-as-276820>By entering this competition,
                      entrants will be deemed to be bound by and have read and accepted
                      these Terms and Conditions; the Promoter's Privacy Policy and; the
                      Instagram Terms, Instagram Privacy Policy and Instagram API Terms.
                      Promoter reserves the right to disqualify any entries that have failed
                      to abide by and/or are in breach of these aforementioned terms.</ly-as-276820>
                    </p>
                    <p>
                      <b>20.</b> <ly-as-276821>This promotion is in no way sponsored, endorsed or
                      administered by, or associated with Instagram. You are providing your
                      information to Promoter and not to Instagram. The information you
                      provide will only be used as stated in the present Terms and
                      Conditions. By entering the competition, entrants will be deemed to
                      have released Instagram from any and all liability arising from their
                      participation in the competition or out of, pursuant to, or as a
                      result of the carrying out of the competition.</ly-as-276821>
                    </p>
                    <p>
                      <b><ly-as-276822>General Terms</ly-as-276822></b>
                    </p>
                    <p>
                      <b>21.</b> <ly-as-276823>Promoter’s decision about the winners is final and no
                      correspondence nor discussion will be entered into.</ly-as-276823>
                    </p>
                    <p>
                      <b>22.</b> <ly-as-276824>Promoter reserves the right in its absolute discretion to
                      amend or waive any of the present Terms and Conditions, or suspend or
                      cancel the competition at any stage, in the event of circumstances
                      that are unforeseen or beyond its reasonable control (including
                      suspected or actual fraudulent or misleading practices or other
                      breaches of the present Terms and Conditions).</ly-as-276824>
                    </p>
                    <p>
                      <b>23.</b> <ly-as-276825>If any of the present Terms and Conditions are found to be
                      illegal, invalid or unenforceable by any court of competent
                      jurisdiction, the rest of the present Terms and Conditions shall
                      remain in full force and effect.</ly-as-276825>
                    </p>
                    <p>
                      <b>24.</b> <ly-as-276826>The present Terms and Conditions of this Promotion shall be
                      governed by English law and the English courts shall have exclusive
                      jurisdiction over any proceedings in connection with this Promotion
                      (including all non-contractual disputes or claims).</ly-as-276826>
                    </p>
                    <p><ly-as-276628>&nbsp;</ly-as-276628></p>
                    <p class=" text-justify"><ly-as-276827>10/09/2019 11:30 am</ly-as-276827></p>
                  </div>
                </div>
              </div>
              <br >
              <div
                class="accordion-title-wrapper js-accordion-trigger"
                tabindex="0"
                role="button"
                aria-expanded="false"
              >
                <h3 class="accordion-title"><ly-as-276828>LYDIA MILLEN GIVEAWAY (the "Promotion")</ly-as-276828></h3>
                <div class="accordion-arrow"></div>
              </div>

              <div
                class="scroll-area scroller accordion-section--inactive js-accordion-section"
              >
                <div class="scrollbar">
                  <div class="track">
                    <div class="thumb"><div class="end"></div></div>
                  </div>
                </div>
                <div class="viewport">
                  <div class="overview" tabindex="0">
                    <p class=" text-center">
                      <ly-as-276829>LYDIA MILLEN giveaway</ly-as-276829>
                    </p>
                    <p class=" text-center">
                      <ly-as-276830>(the "</ly-as-276830><b><ly-as-276831>Promotion</ly-as-276831></b>")
                    </p>
                    <p>
                      <b><u><ly-as-276762>PART I. Competition Details</ly-as-276762></u></b>
                    </p>
                    <p>
                      <ly-as-276763>Promoter: Parfums Christian Dior (UK) Ltd, 180 Oxford Street, W1D 1AB,
                      London. (the "</ly-as-276763><b><ly-as-276764>Promoter</ly-as-276764></b>")
                    </p>
                    <p>
                      <b><ly-as-276765>Eligibility</ly-as-276765></b><ly-as-276766>: UK and Ireland residents aged 18+ only. Entrants
                      must have internet access and an Instagram account to participate.
                      Entrants’ Instagram account privacy settings must be set to public for
                      Promoter to receive their Promotion entry.</ly-as-276766><br /><b
                        ><ly-as-276767>How to Enter Requirements:</ly-as-276767></b
                      >
                    </p>
                    <p>
                      <ly-as-276768>Enter via Instagram, as follows:</ly-as-276768>
                    </p>
                    <p>
                      <ly-as-276832>1. Like the Lydia Millen giveaway Instagram post by @lydiaemillen</ly-as-276832>
                      <b><ly-as-276770>and</ly-as-276770></b>
                    </p>
                    <p>
                      <ly-as-276771>2. Tag a friend in the comments by referencing their Instagram
                      handle;</ly-as-276771><b> <ly-as-276770>and</ly-as-276770></b>
                    </p>
                    <p><ly-as-276833>3. Follow @lydiaemillen</ly-as-276833> <b><ly-as-276770>and</ly-as-276770></b></p>
                    <p>
                      <ly-as-276773>4. Follow @diorbeautylovers.</ly-as-276773>
                    </p>
                    <p>
                      <b><ly-as-276774>Prize:</ly-as-276774></b> <ly-as-276834>if selected as winner of the Prize, the entrant will
                      receive 1 full size Forever foundation in either Matte or Glow and in
                      his/her choice of shade, this is subject to availability and the
                      Promoter reserves the right to replace this with alternative products
                      of equivalent value.</ly-as-276834>
                    </p>
                    <p>
                      <b><ly-as-276776>Promotion date:</ly-as-276776></b> <ly-as-276777>as from</ly-as-276777> <b><ly-as-276835>09.00 on 03/10/2019</ly-as-276835> </b><ly-as-276779>(the</ly-as-276779>
                      <b><ly-as-276780>Entry Open Date</ly-as-276780></b><ly-as-276781>) until</ly-as-276781> <b><ly-as-276836>23.59 on 06/10/2019</ly-as-276836> </b><ly-as-276779>(the</ly-as-276779>
                      <b><ly-as-276783>Entry Closing Date</ly-as-276783></b>)
                    </p>
                    <p>
                      <b><ly-as-276784>Drawing Procedure:</ly-as-276784></b> <ly-as-276837>Fifty winners will be selected during the
                      Drawing Date by an independent person, based on a randomised draw.
                      There will be a total of 50 winners.</ly-as-276837> <br /><b
                        ><ly-as-276786>Notification of Winner(s):</ly-as-276786></b
                      >
                    </p>
                    <p>
                      <ly-as-276838>Winners will be notified by direct private message via Instagram by
                      23.59 on 08/10/2019 and be asked to provide their chosen Forever
                      foundation shade and their mailing address for the delivery.</ly-as-276838>
                    </p>
                    <p>
                      <ly-as-276788>If a winner does not respond via the above route after 5 working days
                      of the Promoter’s initial contact being made, by providing their
                      chosen foundation shade and, mailing address details for the prize to
                      be despatched to, the Promoter reserves the right to draw alternative
                      winner(s) by the independent person as mentioned above.</ly-as-276788>
                    </p>
                    <p>
                      <ly-as-276789>Prize will be delivered in the 30 days following the communication of
                      the details above mentioned by the Winner.</ly-as-276789>
                    </p>
                    <p>
                      <ly-as-276790>By taking part in accordance with the above entrance criteria, the
                      participants accept and agree to respect the present Terms &amp;
                      Conditions.</ly-as-276790>
                    </p>
                    <p>
                      <b><ly-as-276791>Promoter’s Privacy Policy</ly-as-276791></b><ly-as-276792>:
                      https://www.dior.com/en_gb/personal-data</ly-as-276792><br />
                      <b><u><ly-as-276793>PART II. General Terms and Conditions</ly-as-276793></u></b
                      ><br /><b><ly-as-276794>Entry and eligibility</ly-as-276794></b>
                    </p>
                    <p>
                      <b>1.</b> <ly-as-276795>Entries will only be considered form participants residing
                      in the UK or Ireland. The prizes will only be delivered to addresses
                      in the UK &amp; Ireland.</ly-as-276795>
                    </p>
                    <p>
                      <b>2.</b> <ly-as-276796>Entries must be received between the Entry Open Date and the
                      Entry Closing Date.</ly-as-276796><br /><b>3.</b> <ly-as-276797>The competition is free to enter
                      and no purchase is necessary.</ly-as-276797>
                    </p>
                    <p>
                      <ly-as-276628>&nbsp;</ly-as-276628>
                    </p>
                    <p>
                      <b>4.</b> <ly-as-276798>Promoter’s employees, their immediate family or any third
                      party directly associated with the promotion are not eligible to
                      enter.</ly-as-276798>
                    </p>
                    <p>
                      <b>5.</b> <ly-as-276799>Incomplete, illegal, misdirected or late entries will not be
                      valid. Proof of complying with the How to Enter Requirements will not
                      be accepted as proof of receipt or entry. Promoter is not responsible
                      for entries lost, damaged or delayed due to technical or connectivity
                      or other problems.</ly-as-276799><br /><b>6.</b> <ly-as-276800>Only one entry per person. Bulk
                      entries from trade, consumer groups or other parties will not be
                      valid. Multiple entries made by the same person from various email,
                      social media or other accounts or from the same IP address will not be
                      valid.</ly-as-276800>
                    </p>
                    <p>
                      <b>7.</b> <ly-as-276801>Any entries which do not comply with the How to Enter
                      Requirements, or which contain any abusive, inappropriate, offensive
                      or obscene language or imagery will be disqualified. Examples of
                      language/images considered to be inappropriate, offensive or obscene,
                      include (but are not limited to): any message/image which contains (a)
                      swearing; (b) comments or actions which appear to be discriminatory of
                      any person, company or group of individuals, for example comments of a
                      racist, sexist or homophobic nature; (c) sexual innuendo, sexual
                      language or sexual acts, actions or gestures; (d) promoting any
                      illegal unlawful activity such as drug use; (e) any message that
                      appears to be an advertisement or solicitation to buy; and (f) any
                      materials (whether written or visual) that directly or indirectly
                      relate to Promoter’s competitor brands or that show any intention of
                      promoting any brand other than Promoter brand.</ly-as-276801>
                    </p>
                    <p>
                      <b><ly-as-276802>Prize fulfilment and disqualification</ly-as-276802></b>
                    </p>
                    <p>
                      <b>8.</b> <ly-as-276803>Prizes are as stated, they are not transferable and there
                      are no alternative prizes or cash substitutes. Promoter reserves the
                      right to substitute a prize of equal or greater value in the event
                      that the selected prize is unavailable for any reason whatsoever.</ly-as-276803>
                    </p>
                    <p>
                      <b>9.</b> <ly-as-276804>A winner forfeits their prize and Promoter reserves the
                      right to select at random an alternative winner if:</ly-as-276804>
                    </p>
                    <p>
                      <ly-as-276805>(a) after 5 working days of being notified by Promoter, a winner does
                      not respond or does not provide their full name and relevant details;
                      or</ly-as-276805>
                    </p>
                    <p>
                      <ly-as-276806>(b) if a prize is rejected or returned undeliverable; or</ly-as-276806>
                    </p>
                    <p>
                      <ly-as-276807>(c) if an entry is invalid or an entrant is disqualified or in breach
                      of the present Terms and Conditions.</ly-as-276807><br /><b>10.</b> <ly-as-276808>Promoter reserves
                      the right to disqualify an entrant or winner that, in its absolute
                      discretion, could bring Promoter into disrepute.</ly-as-276808>
                    </p>
                    <p>
                      <b>11.</b> <ly-as-276809>Promoter shall disqualify any entries that have failed to
                      abide by and/or are in breach of the present Terms and Conditions.</ly-as-276809>
                    </p>
                    <p>
                      <b>12</b><ly-as-276839>. The name of the winner(s) can be obtained by any entrants
                      by sending a stamped, self-addressed envelope, within 4 weeks of the
                      prize draw date to the Promoter at Parfums Christian Dior (UK) Ltd,
                      180 Oxford Street, W1D 1AB, London, referencing the Promotion name.
                      The name of the winner(s) shall not be disclosed by the entrants to
                      third parties.l’ai</ly-as-276839>
                    </p>
                    <p>
                      <b><ly-as-276811>Personal Information</ly-as-276811></b>
                    </p>
                    <p>
                      <b>13.</b> <ly-as-276812>All personal details and/or information given either in the
                      entry process or otherwise must be truthful, accurate and in no way
                      misleading. Promoter reserves the right to disqualify entrants if they
                      have supplied untruthful, inaccurate or misleading personal details
                      and/or information.</ly-as-276812><br /><b>14</b><ly-as-276813>. Any personal information that
                      entrants share with the Promoter (including name, address, email,
                      social media profile, or other data) will be kept secure and only used
                      in line with Promoter’s Privacy Policy and the present Terms and
                      Conditions. By entering the competition, entrants acknowledge and
                      agree that (i) their name and image may be disclosed to other
                      participants if selected as winners (ii) their information may be used
                      by the Promoter and its suppliers to administer the Promotion. The
                      Promoter may contact entrants by email, post, phone, SMS or other
                      means in relation to the Promotion, but will not send entrants any
                      marketing communication unless entrants have also agreed to this.</ly-as-276813>
                    </p>
                    <p>
                      <b><ly-as-276814>Limitation of Liability</ly-as-276814></b>
                    </p>
                    <p>
                      <b>15.</b><ly-as-276815>Neither Promoter nor agencies nor suppliers involved in this
                      promotion may be liable to the entrants, whether arising from tort
                      including negligence or otherwise or for any damage, loss, liabilities
                      or disappointment incurred or suffered whatsoever as a result of or
                      relating to participation in this competition or the prizes to the
                      extent permissible by law. For the avoidance of doubt, this clause
                      does not exclude, nor limit, any liability for fraud, personal injury
                      or death resulting from an act or omission of Promoter, agencies or
                      suppliers.</ly-as-276815>
                    </p>
                    <p>
                      <b>16.</b> <ly-as-276816>Promotor shall not be liable for any special, indirect,
                      incidental, consequential or economic loss, howsoever caused, arising
                      out of or in connection with the present Terms and Conditions.</ly-as-276816>
                    </p>
                    <p>
                      <b>17.</b> <ly-as-276817>No compensation for loss of earnings will be paid by
                      Promoter for participation in any aspect of this competition.</ly-as-276817>
                    </p>
                    <p>
                      <b><ly-as-276818>Social Media Platform Specific Terms</ly-as-276818></b>
                    </p>
                    <p>
                      <b>18.</b> <ly-as-276819>Entrants must have internet access and a public Instagram
                      account to be eligible.</ly-as-276819><br /><b>19.</b> <ly-as-276820>By entering this competition,
                      entrants will be deemed to be bound by and have read and accepted
                      these Terms and Conditions; the Promoter's Privacy Policy and; the
                      Instagram Terms, Instagram Privacy Policy and Instagram API Terms.
                      Promoter reserves the right to disqualify any entries that have failed
                      to abide by and/or are in breach of these aforementioned terms.</ly-as-276820>
                    </p>
                    <p>
                      <b>20.</b> <ly-as-276821>This promotion is in no way sponsored, endorsed or
                      administered by, or associated with Instagram. You are providing your
                      information to Promoter and not to Instagram. The information you
                      provide will only be used as stated in the present Terms and
                      Conditions. By entering the competition, entrants will be deemed to
                      have released Instagram from any and all liability arising from their
                      participation in the competition or out of, pursuant to, or as a
                      result of the carrying out of the competition.</ly-as-276821>
                    </p>
                    <p>
                      <b><ly-as-276822>General Terms</ly-as-276822></b>
                    </p>
                    <p>
                      <b>21.</b> <ly-as-276823>Promoter’s decision about the winners is final and no
                      correspondence nor discussion will be entered into.</ly-as-276823>
                    </p>
                    <p>
                      <b>22.</b> <ly-as-276824>Promoter reserves the right in its absolute discretion to
                      amend or waive any of the present Terms and Conditions, or suspend or
                      cancel the competition at any stage, in the event of circumstances
                      that are unforeseen or beyond its reasonable control (including
                      suspected or actual fraudulent or misleading practices or other
                      breaches of the present Terms and Conditions).</ly-as-276824>
                    </p>
                    <p>
                      <b>23.</b> <ly-as-276825>If any of the present Terms and Conditions are found to be
                      illegal, invalid or unenforceable by any court of competent
                      jurisdiction, the rest of the present Terms and Conditions shall
                      remain in full force and effect.</ly-as-276825>
                    </p>
                    <p>
                      <b>24.</b> <ly-as-276826>The present Terms and Conditions of this Promotion shall be
                      governed by English law and the English courts shall have exclusive
                      jurisdiction over any proceedings in connection with this Promotion
                      (including all non-contractual disputes or claims).</ly-as-276826>
                    </p>
                    <p>
                      <ly-as-276628>&nbsp;</ly-as-276628>
                    </p>
                    <p>
                      <b><ly-as-276628>&nbsp;</ly-as-276628></b>
                    </p>
                    <p><ly-as-276628>&nbsp;</ly-as-276628></p>
                    <p class=" text-justify"><ly-as-276840>03/10/2019 11:55 am</ly-as-276840></p>
                  </div>
                </div>
              </div>
            </div>
        
      </div>
    </div>
  </div>
</div>
