<style>
.valentine_product-content a.btn.btn-black {
	background-color: #000000;
	display: inline-block;
	padding: 13px 20px;
	color: #ffffff;
	font-weight: 600;
	font-size: 12px;
	margin: 0;
	letter-spacing: .0125em;
	text-decoration: none;
	max-width: 100%;
	width: 100%;
	border: none;
}

.valentine_product-content h3 {
	font-size: 15px;
}

.valentine_gift-banner-text-content {
	text-align: center;
}

.gift-banner-items .valentine_gift-bottom-text {
	text-align: center;
	padding: 20px 0 10px;
}

/* valentine mobile Tab css start*/
.valentine_gift-tab .gift_slider_item {
	display: inline-block;
	width: 50%;
	margin: 0;
	padding: 0;
}

.valentine_gift-tab ul.gift_slider_wrap {
	display: flex;
	flex-wrap: wrap;
}

/* valentine mobile Tab css end */
.gift_image-content img {
		width: 100%;
	}
.degree_products .valentine_products{
    padding:10px 20px 20px;
  }

  .valentine_gift-banner-text-content {
		padding: 40px 0 20px;
	}

	.valentine_gift-banner-text-content h2.banner_content-heading {
		font-size: 22px;
		font-family: 'Proxima Nova RG';
		text-transform: capitalize;
	}

	.valentine_gift-banner-text-content span.banner_content-text {
		font-family: 'Proxima Nova RG';
		font-size: 16px;
	}

  
    .valentine_gift-products .grid-view-item__image {
		width: 80px;
		height: auto;
		marging: 0;
		padding: 0;
        align-items: center;
        text-align: center;
	}

	.valentine_gift-products .product-card__image-with-placeholder-wrapper {
		width: 80px;
        margin: 0 auto;
        padding: 0;
	}
  .valentine_gift-for-her.gift-wrapper {
    padding-top: 40px;
}

  .valentine_gift-bottom-text {
    text-align: center;
    padding: 20px 0;
}
  .view_all_collection_btn {
    text-align: center;
    padding: 40px 0px 0;
}
  .view_all_collection a {
    border: 1px solid black;
    padding: 10px;
    width: 100%;
    display: block;
    background:#000;
    color:#fff;
}
  .view_all_collection a:hover {
    background: #000;
    color: #fff;
}
  span.banner_content-text {
    color: #595959;
}
.valentine_product-content.valentine_degree_products p{
   color: #595959;
}
p.banner_content-text{
  padding-top:10px;
  color: #595959;
}
  
h2.banner_content-heading {
    color: #1B1C1E;
}
  .valentine-gift_guide_bottom {
    display: flex;
    flex-direction: column-reverse;
}
  
/*   valentine gift guide css start */
 .banner-picture>picture>img {
    width: 100%;
}
/*   valentine gift guide css end */
  
@media all and (min-width:600px) {
  .valentine_gift-products .grid-view-item__image {
		width: 100px;
		height: auto;
		marging: 0;
		padding: 0;
        align-items: center;
        text-align: center;
	}

	.valentine_gift-products .product-card__image-with-placeholder-wrapper {
		width: 100px;
        margin: 0 auto;
        padding: 0;
	}
}
@media all and (min-width:768px) {
  .valentine_gift-tab.gift-guide-tabs {
    margin: 40px 0 0 0;
  }
	.valentine_gift-for-him.gift-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.valentine_gift-for-her.gift-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: row-reverse;
	}

	.valentine_gift-for-him-content,
	.valentine_gift-for-her-content {
		width: 50%;
	}

	.gift-wrapper .degree_product,
	.gift-wrapper .degree_productsss {
		width: 50%;
	}

	.gift-wrapper .degree_products {
		order: 1;
	}

	.gift-wrapper .git-order {
		order: 2;
	}

	

 .degree_products .valentine_products{
    padding:30px 20px 50px;
  }

	/* valentine Tab start */

	.valentine_gift-tab ul.gift_slider_wrap>li {
		display: inline-block;
		width: 33.3%;
		padding: 0;
		margin: 0;
	}

	.valentine_gift-tab ul.gift_slider_wrap {
		display: flex;
		flex-wrap: wrap;
	}

	/* valentine Tab end*/

	.valentine_gift-banner-text.page-width {
		padding: 0px;
		max-width: 450px;
	}

	.valentine_gift-banner-text-content {
		padding: 60px 0 30px;
	}

	.valentine_gift-banner-text-content h2.banner_content-heading {
		font-size: 24px;
		font-family: 'Proxima Nova RG';
		text-transform: capitalize;
	}

	.valentine_gift-banner-text-content span.banner_content-text {
		font-family: 'Proxima Nova RG';
		font-size: 16px;
	}

	.gift_image-content img {
		width: 100%;
	}

	.valentine_gift-products .grid-view-item__image {
		width: 60px;
		height: auto;
		marging: 0;
		padding: 0;
        align-items: center;
        text-align: center;
	}

	.valentine_gift-products .product-card__image-with-placeholder-wrapper {
		width: 60px;
        margin: 0 auto;
        padding: 0;
	}

	.valentine_gift-products.degree_productsss {
		padding: 0 40px 0;
	}


	.valentine_product-content.valentine_degree_products {
		padding: 0px 20px 20px;
	}

	.valentine-gift_guide_bottom {
    display: flex;
    flex-direction: column;
    }
}

@media all and (min-width:1024px) {
	.valentine_gift-products.degree_productsss {
		padding: 0 80px 0;
	}
  .valentine_gift-products .grid-view-item__image {
		width: 100px;
		height: auto;
		marging: 0;
		padding: 0;
        align-items: center;
        text-align: center;
	}

	.valentine_gift-products .product-card__image-with-placeholder-wrapper {
		width: 100px;
        margin: 0 auto;
        padding: 0;
	}

   .degree_products {
		padding: 0px 20px 20px !Important;
	}
}

@media all and (max-width:320px) {
	span[data-toggle="tab"] {
		white-space: nowrap;
		width: 120px;
		overflow: hidden;
		text-overflow: ellipsis;
	}
    .valentine_gift-products .grid-view-item__image {
		width: 60px;
		height: auto;
		marging: 0;
		padding: 0;
        align-items: center;
        text-align: center;
	}

	.valentine_gift-products .product-card__image-with-placeholder-wrapper {
		width: 60px;
        margin: 0 auto;
        padding: 0;
	}

}
</style
  <div class="valentine_gift-banner">
     {% section 'valentine-gift-guide-banner' %}
     {% section 'valentine-gift-for-him' %}
     {% section 'valentine-gift-for-her' %}
     {% section 'valentine-gift-guide-tab' %}

   <div class="valentine-gift_guide_bottom">
     {% section 'valentine-bottom-content' %}
     {% section 'valentine-gift-grid' %}
   </div> 

   </div>
