<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1><ly-as-276501>PERSONAL DATA</ly-as-276501></h1>
      </div>

        <div class="rte">
            
              <div class="transverse-container transverse-well js-accordion">
                <h2 class="first">
                  <ly-as-276502>FRAGRANCE &amp; BEAUTY</ly-as-276502>
                </h2>
                <div
                  class="accordion-title-wrapper js-accordion-trigger accordion-trigger--active"
                  tabindex="0"
                  role="button"
                  aria-expanded="true"
                >
                  <h3 class="accordion-title"><ly-as-276503>Privacy Policy</ly-as-276503></h3>
                  <div class="accordion-arrow"></div>
                </div>

                <div
                  class="scroll-area scroller accordion-section--active js-accordion-section"
                >
                  <div class="scrollbar">
                    <div class="track">
                      <div class="thumb"><div class="end"></div></div>
                    </div>
                  </div>
                  <div class="viewport">
                    <div class="overview" tabindex="0">
                      <p>
                        <b
                          ><ly-as-276504>Parfums Christian Dior pays particular attention to the processing,
                          confidentiality and safety of your personal data.</ly-as-276504></b
                        >
                      </p>
                      <p>
                        <b><ly-as-276505>&nbsp;</ly-as-276505></b>
                      </p>
                      <p>
                        <b
                          ><ly-as-276506>The aim of this privacy charter is to provide you with clear,
                          simple and complete information about how we process the personal
                          data you give us or the data we may collect while you are browsing
                          our website, how it may be transferred to third parties and your
                          rights and options to control your personal information and protect
                          your privacy.&nbsp;</ly-as-276506></b
                        >
                      </p>
                      <p>
                        <ly-as-276505>&nbsp;</ly-as-276505>
                      </p>
                      <p>
                        <ly-as-276507>Parfums Christian Dior,&nbsp;a limited by shares company with
                        headquarters located at UK House, 6</ly-as-276507><sup><ly-as-276508>th</ly-as-276508></sup> <ly-as-276509>Floor, 180 Oxford
                        Street, London W1D 1AB, registered in the England and Wales trade and
                        companies register under no. 01012371 and Parfums Christian Dior SA,
                        with headquarters located 33 avenue Hoche, 75008 Paris, registered in
                        the Paris trade and companies register under n° 552&nbsp;065&nbsp;187
                        (hereinafter Parfums Christian Dior) are &nbsp;the data controllers of
                        personal data collected on the website www.dior.com, in Dior shops and
                        counters in the sense of regulations applying to personal data, in
                        particular Regulation (EU) 2016/679 on the protection of natural
                        persons with regard to the processing of personal data and the free
                        movement of such data (hereinafter the "GDPR").</ly-as-276509>
                      </p>
                      <p>
                        <ly-as-276505>&nbsp;</ly-as-276505>
                      </p>
                      <p>
                        <b><ly-as-276505>&nbsp;</ly-as-276505></b>
                      </p>
                      <ol>
                        <li>
                          <b
                            ><ly-as-276510>I.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ly-as-276510> </b
                          ><b><ly-as-276511>What is personal data?</ly-as-276511> </b>
                        </li>
                      </ol>
                      <p>
                        <b><ly-as-276505>&nbsp;</ly-as-276505></b>
                      </p>
                      <p>
                        <ly-as-276512>Personal data is any information about an identified physical person
                        or a physical person that may be directly or indirectly identified via
                        an identification number or one or more elements particular to them,
                        such as their last name, first name, date of birth, customer number,
                        order number, photo, etc.</ly-as-276512>
                      </p>
                      <p>
                        <ly-as-276505>&nbsp;</ly-as-276505>
                      </p>
                      <p>
                        <ly-as-276505>&nbsp;</ly-as-276505>
                      </p>
                      <ol>
                        <li>
                          <b
                            ><ly-as-276513>II.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ly-as-276513> </b
                          ><b><ly-as-276514>When can we collect your personal data?</ly-as-276514> </b>
                        </li>
                      </ol>
                      <p>
                        <ly-as-276505>&nbsp;</ly-as-276505>
                      </p>
                      <p>
                        <ly-as-276515>We can collect your personal data when you:</ly-as-276515>
                      </p>
                      <p>
                        <ly-as-276505>&nbsp;</ly-as-276505>
                      </p>
                      <ul>
                        <li>
                          <ly-as-276516>create a customer account on our website, apps, or in our stores;</ly-as-276516>
                        </li>

                        <li><ly-as-276517>order goods from our website;</ly-as-276517></li>

                        <li><ly-as-276518>make purchases in stores;</ly-as-276518></li>

                        <li><ly-as-276519>join our loyalty program;</ly-as-276519></li>

                        <li><ly-as-276520>use our online services, such as the chat service;</ly-as-276520></li>

                        <li>
                          <ly-as-276521>agree to receive marketing communications from us by email,
                          telephone, SMS or post, depending on your selection;</ly-as-276521>
                        </li>

                        <li>
                          <ly-as-276522>answer surveys or satisfaction questionnaires based on your customer
                          experience;</ly-as-276522>
                        </li>

                        <li>
                          <ly-as-276523>interact with our Company via its official page on social networks
                          or when we suggest re-use of content that you have published on a
                          social network;</ly-as-276523>
                        </li>

                        <li><ly-as-276524>contact our customer service;</ly-as-276524></li>

                        <li><ly-as-276525>send requests for information to our Company;</ly-as-276525></li>

                        <li><ly-as-276526>take part in an event we organise;</ly-as-276526></li>

                        <li>
                          <ly-as-276527>browse on the Internet using cookies or similar technology&nbsp;or
                          when you click on advertisements for our products</ly-as-276527>
                        </li>
                      </ul>
                      <p>
                        <ly-as-276505>&nbsp;</ly-as-276505>
                      </p>
                      <p>
                        <ly-as-276505>&nbsp;</ly-as-276505>
                      </p>
                      <ol>
                        <li>
                          <b
                            ><ly-as-276528>III.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ly-as-276528> </b
                          ><b><ly-as-276529>What personal data might we collect?</ly-as-276529> </b>
                        </li>
                      </ol>
                      <p>
                        <ly-as-276505>&nbsp;</ly-as-276505>
                      </p>
                      <p>
                        <ly-as-276530>(i)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        As part of the services we provide, we may need to collect certain
                        data directly from you using electronic forms on our website, mobile
                        apps or in selected stores, or in paper form, for a range of purposes
                        (see IV for a list of processing purposes).</ly-as-276530>
                      </p>
                      <p>
                        <ly-as-276505>&nbsp;</ly-as-276505>
                      </p>
                      <p>
                        <ly-as-276531>Information we might collect includes:</ly-as-276531>
                      </p>
                      <p>
                        <ly-as-276505>&nbsp;</ly-as-276505>
                      </p>
                      <ul>
                        <li><ly-as-276532>Your identity;</ly-as-276532></li>

                        <li><ly-as-276533>Your contact details (e.g. email address);</ly-as-276533></li>

                        <li>
                          <ly-as-276534>Your personal preferences in relation to the products we market or
                          to our website (language);</ly-as-276534>
                        </li>

                        <li>
                          <ly-as-276535>Information relating to your orders, their tracking and your
                          purchase invoices;</ly-as-276535>
                        </li>

                        <li><ly-as-276536>Information you may provide for our customer service;</ly-as-276536></li>

                        <li>
                          <ly-as-276537>Specific health data if you notify us of any undesirable
                          side-effects concerning any of our products;</ly-as-276537>
                        </li>

                        <li><ly-as-276538>Your bank details if you place an order via our website</ly-as-276538></li>
                      </ul>
                      <p>
                        <ly-as-276539>Important: your bank details are encrypted on Parfums Christian Dior
                        servers. Payments are processed via a secured payment platform,
                        involving additional verifications, in order to guarantee the security
                        of purchases made on www.dior.com and combat fraud.</ly-as-276539>
                      </p>
                      <p>
                        <ly-as-276540>The details you provide of your Payment Card when placing an order are
                        always encrypted prior to transit using an SSL (Secure Socket Layer)
                        protocol.</ly-as-276540>
                      </p>
                      <p>
                        <ly-as-276505>&nbsp;</ly-as-276505>
                      </p>
                      <p>
                        <ly-as-276541>Personal data essential to Parfums Christian Dior is marked with an
                        asterisk on all personal data collection forms on our website, in
                        electronic form at some of our counters and stores, as well as
                        off-line in paper form. If you do not fill in these compulsory fields,
                        Parfums Christian Dior will probably be unable to respond to your
                        request and/or provide you with the requested services. Other
                        information is optional and enables us to get to know you better and
                        improve our communications and services with respect to you.</ly-as-276541>
                      </p>
                      <p>
                        <ly-as-276505>&nbsp;</ly-as-276505>
                      </p>
                      <p>
                        <ly-as-276542>(ii)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        We may also collect certain data generated by your purchases of
                        products or services, online or in stores, particularly information
                        regarding the amount and type of your purchases.</ly-as-276542>
                      </p>
                      <p>
                        <ly-as-276505>&nbsp;</ly-as-276505>
                      </p>
                      <p>
                        <ly-as-276543>(iii)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Lastly, we may collect information regarding the use of our website,
                        especially with respect to your browsing (pages visited, links
                        clicked, etc.). Some of this information may be collected using
                        cookies placed in your web browser when you browse our website. For
                        more information about cookies, read section on Cookie Management in
                        this policy.</ly-as-276543>
                      </p>
                      <p>
                        <ly-as-276505>&nbsp;</ly-as-276505>
                      </p>
                      <p>
                        <ly-as-276544>If you apply for a job with our Company via our website, we may
                        collect the following information :</ly-as-276544>
                      </p>
                      <p>
                        <ly-as-276505>&nbsp;</ly-as-276505>
                      </p>
                      <p>
                        <ly-as-276545>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Your identity;</ly-as-276545>
                      </p>
                      <p>
                        <ly-as-276546>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Your contact details;</ly-as-276546>
                      </p>
                      <p>
                        <ly-as-276547>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Your Curriculum Vitae;</ly-as-276547>
                      </p>
                      <p>
                        <ly-as-276548>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Your application letter</ly-as-276548>
                      </p>
                      <p>
                        <ly-as-276505>&nbsp;</ly-as-276505>
                      </p>
                      <p>
                        <ly-as-276505>&nbsp;</ly-as-276505>
                      </p>
                      <p>
                        <ly-as-276549>As this data concerns your application, please inform us in writing of
                        any changes to your contact details or, more generally, to your career
                        and employment situation, to help us to manage your application
                        efficiently.</ly-as-276549>
                      </p>
                      <p>
                        <ly-as-276505>&nbsp;</ly-as-276505>
                      </p>
                      <p>
                        <ly-as-276505>&nbsp;</ly-as-276505>
                      </p>
                      <p>
                        <ly-as-276505>&nbsp;</ly-as-276505>
                      </p>
                      <ol>
                        <li>
                          <b
                            ><ly-as-276550>IV.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ly-as-276550> </b
                          ><b><ly-as-276551>For what purpose is your personal data collected and used?</ly-as-276551> </b>
                        </li>
                      </ol>
                      <p>
                        <ly-as-276505>&nbsp;</ly-as-276505>
                      </p>
                      <p>
                        <ly-as-276505>&nbsp;</ly-as-276505>
                      </p>
                      <p>
                        <ly-as-276552>Parfums Christian Dior processes your data to:</ly-as-276552>
                      </p>
                      <p>
                        <ly-as-276505>&nbsp;</ly-as-276505>
                      </p>
                      <ul>
                        <li>
                          <ly-as-276553>enable you to create a customer account on our website,
                          applications, at our counters and in our stores;</ly-as-276553>
                        </li>

                        <li>
                          <ly-as-276554>manage your access to your customer account on the Internet or our
                          applications;</ly-as-276554>
                        </li>

                        <li><ly-as-276555>process and manage your online orders and their delivery;</ly-as-276555></li>

                        <li><ly-as-276556>record purchases made at our counters or in our stores;</ly-as-276556></li>

                        <li>
                          <ly-as-276557>secure online transactions, prevent fraud, payment incidents and
                          manage debt collection (see our terms and conditions for more
                          details);</ly-as-276557>
                        </li>

                        <li>
                          <ly-as-276558>manage customer relations with respect to any requests for
                          information or complaints you may send us via our website, customer
                          service or social network pages;</ly-as-276558>
                        </li>

                        <li><ly-as-276559>manage our loyalty program;&nbsp;</ly-as-276559></li>

                        <li>
                          <ly-as-276560>trace and manage any alerts you may send us as part of our cosmetic
                          vigilance obligations;</ly-as-276560>
                        </li>

                        <li>
                          <ly-as-276561>manage and optimise your customer experience by improving our
                          knowledge of our customers; &nbsp;</ly-as-276561>
                        </li>

                        <li>
                          <ly-as-276562>propose appropriate, tailored services, particularly when we enhance
                          our products and services;</ly-as-276562>
                        </li>

                        <li>
                          <ly-as-276563>conduct statistical analyses to develop management, measuring and
                          reporting tools in order to adjust and improve our sales, marketing
                          and product manufacturing;</ly-as-276563>
                        </li>

                        <li>
                          <ly-as-276564>subject to your consent, send you information on our offers, news
                          and events on your chosen communication media;</ly-as-276564>
                        </li>

                        <li>
                          <ly-as-276565>manage your participation in any events to which you have signed
                          up;&nbsp;</ly-as-276565>
                        </li>

                        <li><ly-as-276566>manage any online job applications</ly-as-276566></li>

                        <li>
                          <ly-as-276567>With your explicit consent, for sending you personalized newsletter
                          and using third-party services to customize your profile.</ly-as-276567>
                        </li>
                      </ul>
                      <p>
                        <ly-as-276505>&nbsp;</ly-as-276505>
                      </p>
                      <ol>
                        <li>
                          <b
                            ><ly-as-276568>V.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ly-as-276568> </b
                          ><b><ly-as-276569>What legal grounds legitimise the processing of your data?</ly-as-276569></b>
                        </li>
                      </ol>
                      <p>
                        <ly-as-276570>Parfums Christian Dior processes your personal information:</ly-as-276570>
                      </p>
                      <ul>
                        <li>
                          <ly-as-276571>to perform the contract agreed between yourself and Parfums
                          Christian Dior, to manage your access to your customer account and
                          to process and track your orders;</ly-as-276571>
                        </li>

                        <li>
                          <ly-as-276572>within the framework of its legitimate interest for the purposes of
                          marketing management, securing its digital media (websites,
                          applications, etc.) and combating fraud;</ly-as-276572>
                        </li>

                        <li>
                          <ly-as-276573>when you have given your consent for the processing of your data,
                          especially for the purposes of managing our sales prospection, and
                          of your browsing data via cookies, etc;</ly-as-276573>
                        </li>

                        <li>
                          <ly-as-276574>within the framework of compliance with our legal obligations,
                          particularly fiscal obligations (conserving purchase invoices) and
                          cosmetic vigilance with regard to Regulation (EU) 1223/2009 of 30
                          November 2009 on cosmetic products</ly-as-276574>
                        </li>
                      </ul>
                      <p>
                        <ly-as-276505>&nbsp;</ly-as-276505>
                      </p>
                      <p>
                        <b><ly-as-276505>&nbsp;</ly-as-276505></b>
                      </p>
                      <ol>
                        <li>
                          <b
                            ><ly-as-276575>VI.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ly-as-276575> </b
                          ><b><ly-as-276576>Who are the recipients of your personal data?</ly-as-276576> </b>
                        </li>
                      </ol>
                      <p>
                        <ly-as-276505>&nbsp;</ly-as-276505>
                      </p>
                      <p>
                        <ly-as-276577>Your personal data is processed by the personnel of Parfums Christian
                        Dior. We ensure that only authorised persons within Parfums Christian
                        Dior have access to your personal data when this is necessary for the
                        purpose of managing our commercial relations or meeting our legal
                        obligations.</ly-as-276577>
                      </p>
                      <p>
                        <ly-as-276505>&nbsp;</ly-as-276505>
                      </p>
                      <p>
                        <ly-as-276578>We may also share your personal data with:</ly-as-276578>
                      </p>
                      <p>
                        <ly-as-276505>&nbsp;</ly-as-276505>
                      </p>
                      <ul>
                        <li>
                          <ly-as-276579>other entities of the LVMH Group, with some of these entities acting
                          as data processors;</ly-as-276579>
                        </li>

                        <li>
                          <ly-as-276580>subcontractors, such as:</ly-as-276580>
                          <ul>
                            <li>
                              <ly-as-276581>site hosting and maintenance service providers and the providers
                              of our electronic personal data collection solutions at counters
                              and in stores;</ly-as-276581>
                            </li>

                            <li><ly-as-276582>payment service providers;</ly-as-276582></li>

                            <li><ly-as-276583>anti-fraud service providers;</ly-as-276583></li>

                            <li><ly-as-276584>logistic service providers;</ly-as-276584></li>

                            <li><ly-as-276585>marketing solution service providers;</ly-as-276585></li>

                            <li>
                              <ly-as-276586>sales prospection and social network communication service
                              providers;</ly-as-276586>
                            </li>

                            <li><ly-as-276587>customer service providers;</ly-as-276587></li>

                            <li><ly-as-276588>service providers for managing cosmetic vigilance alerts;</ly-as-276588></li>

                            <li><ly-as-276589>event organisation service providers</ly-as-276589></li>
                          </ul>
                        </li>
                      </ul>
                      <p>
                        <ly-as-276505>&nbsp;</ly-as-276505>
                      </p>
                      <p>
                        <ly-as-276590>Third parties&nbsp; wishing to know your main interests to constitute
                        similar audiences and target prospects that match your profile. In the
                        context of this specific data processing, Dior is not the Data
                        Controller relating to prospecting and you will not be subject to
                        prospecting, your data is only used to constitute profiles similar to
                        yours</ly-as-276590>
                      </p>
                      <p>
                        <ly-as-276591>Lastly, Parfums Christian Dior may need to share your personal data
                        with third parties to meet its legal, regulatory or treaty
                        obligations, or to respond to requests from authorised legal
                        authorities.</ly-as-276591>
                      </p>
                      <p>
                        <ly-as-276505>&nbsp;</ly-as-276505>
                      </p>
                      <p>
                        <ly-as-276592>Parfums Christian Dior and Christian Dior Couture may share some of
                        your personal data, including data collected via cookies, for the
                        shared management of the website www.dior.com, particularly to allow
                        you to have a single customer account on this website, update the
                        information on your customer account and customise communication about
                        Christian Dior products that we may send you.</ly-as-276592>
                      </p>
                      <p>
                        <ly-as-276505>&nbsp;</ly-as-276505>
                      </p>
                      <p>
                        <ly-as-276593>Furthermore, if you have expressed a wish to receive sales offers from
                        Christian Dior Couture, we will share your personal data with this
                        company. In this context, Christian Dior Couture will be acting as a
                        data controller and applying its own privacy policy. For more
                        information about the Christian Dior Couture privacy policy, click
                        here URL: &nbsp;https://www.dior.com/couture/en_gb/personal-data</ly-as-276593>
                      </p>
                      <p>
                        <ly-as-276505>&nbsp;</ly-as-276505>
                      </p>
                      <p>
                        <ly-as-276594>With your consent, data regarding your job application may be shared
                        with other companies of the Parfums Christian Dior Group and of the
                        LVMH Group worldwide, for recruitment purposes.</ly-as-276594>
                      </p>
                      <p>
                        <ly-as-276505>&nbsp;</ly-as-276505>
                      </p>
                      <p>
                        <b><ly-as-276505>&nbsp;</ly-as-276505></b>
                      </p>
                      <ol>
                        <li>
                          <b
                            ><ly-as-276595>VII.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ly-as-276595> </b
                          ><b><ly-as-276596>Transferring data abroad</ly-as-276596></b>
                        </li>
                      </ol>
                      <p>
                        <ly-as-276505>&nbsp;</ly-as-276505>
                      </p>
                      <p>
                        <ly-as-276597>Some recipients of your personal data may be located abroad, including
                        outside of the European Economic Area.</ly-as-276597>
                      </p>
                      <p>
                        <ly-as-276505>&nbsp;</ly-as-276505>
                      </p>
                      <p>
                        <ly-as-276598>All data transfers outside of the European Economic Area are subject
                        to appropriate guarantees, especially contractual, technical and
                        organisational guarantees, that comply with applicable regulations
                        relating to the protection of personal data.</ly-as-276598>
                      </p>
                      <p>
                        <b><ly-as-276505>&nbsp;</ly-as-276505></b>
                      </p>
                      <p>
                        <b><ly-as-276505>&nbsp;</ly-as-276505></b>
                      </p>
                      <p>
                        <b><ly-as-276505>&nbsp;</ly-as-276505></b>
                      </p>
                      <ol>
                        <li>
                          <b><ly-as-276599>VIII.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ly-as-276599> </b
                          ><b><ly-as-276600>How long do we keep your data?</ly-as-276600> </b>
                        </li>
                      </ol>
                      <p>
                        <ly-as-276601>We keep and proceed your personal data for as long as it is required
                        in order to fulfil the purposes described in this Privacy Policy and
                        as long as it may be required by law such as for tax and accounting
                        purposes.</ly-as-276601>
                      </p>
                      <p>
                        <ly-as-276505>&nbsp;</ly-as-276505>
                      </p>
                      <p class=" text-center">
                        <ly-as-276505>&nbsp;</ly-as-276505>
                      </p>
                      <p>
                        <ly-as-276505>&nbsp;</ly-as-276505>
                      </p>
                      <p>
                        <b><ly-as-276505>&nbsp;</ly-as-276505></b>
                      </p>
                      <ol>
                        <li>
                          <b
                            ><ly-as-276602>IX.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ly-as-276602> </b
                          ><b><ly-as-276603>What are your rights and how can you exercise them?</ly-as-276603> </b>
                        </li>
                      </ol>
                      <p>
                        <b><ly-as-276505>&nbsp;</ly-as-276505></b>
                      </p>
                      <p>
                        <ly-as-276604>Under current regulations, particularly the GDPR, you have the right
                        to access and correct your personal data, request erasure, object to
                        processing on legitimate grounds and obtain limitation or portability,
                        insofar as this is applicable.</ly-as-276604>
                      </p>
                      <p>
                        <ly-as-276505>&nbsp;</ly-as-276505>
                      </p>
                      <p>
                        <ly-as-276605>You can exercise these rights directly with Parfums Christian Dior by
                        sending an email to</ly-as-276605>
                        <a href="mailto:contact@dior.com" target="_self"><ly-as-276606>contact@dior.com</ly-as-276606></a
                        ><ly-as-276607>&nbsp;or a non-registered letter by post to LVMH Perfumes and
                        Cosmetics, 11-13 Old Esher Road, Hersham, Surrey KT12 4NH, including a
                        document proving your identity.</ly-as-276607>
                      </p>
                      <p>
                        <ly-as-276505>&nbsp;</ly-as-276505>
                      </p>
                      <p>
                        <ly-as-276608>If, at any time, you no longer wish to receive details of our offers,
                        news and events, you can unsubscribe using the hypertext link provided
                        for this purpose in each email newsletter we send you. You can also
                        telephone us on 0207 216 0216 (landline charges apply) from [9am to
                        8pm Monday to Saturday] or send a non-registered letter to LVMH
                        Perfumes and Cosmetics, 11-13 Old Esher Road, Hersham, Surrey KT12
                        4NH.</ly-as-276608>
                      </p>
                      <p>
                        <b><ly-as-276505>&nbsp;</ly-as-276505></b>
                      </p>
                      <p>
                        <ly-as-276609>You may also lodge a complaint with the Information Commissioner’s
                        Office, Wycliffe House, Water Lane, Wilmslow, Cheshire, SK9 5AF.</ly-as-276609>
                      </p>
                      <p>
                        <b><ly-as-276505>&nbsp;</ly-as-276505></b>
                      </p>
                      <p>
                        <ly-as-276505>&nbsp;</ly-as-276505>
                      </p>
                      <p>
                        <ly-as-276505>&nbsp;</ly-as-276505>
                      </p>
                      <ol>
                        <li>
                          <b
                            ><ly-as-276610>X.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ly-as-276610> </b
                          ><b
                            ><ly-as-276611>Contact details of the Data Protection Officer (DPO) and your
                            right to lodge a complaint</ly-as-276611></b
                          >
                        </li>
                      </ol>
                      <p>
                        <b><ly-as-276505>&nbsp;</ly-as-276505></b>
                      </p>
                      <p>
                        <ly-as-276612>For all questions relating to the collection and processing of your
                        data by Parfums Christian Dior, you can contact the Parfums Christian
                        Dior Data Protection Officer at</ly-as-276612>
                        <a href="mailto:Dpo_uk@diormail.com" target="_self"
                          ><ly-as-276613>Dpo_uk@diormail.com</ly-as-276613></a
                        >.
                      </p>
                      <p><ly-as-276505>&nbsp;</ly-as-276505></p>
                      <img
                        src="/couture/var/dior/storage/images/horizon/legacy-personal-data/privacy-policy/7597597-1-fre-FR/privacy-policy_large.jpg"
                        class="img-picto img--loaded"
                        style="border: 0px  ;"
                        alt="Privacy Policy"
                        title=""
                      />
                      <p class=" text-justify"><ly-as-276614>01/04/2020 3:35 pm</ly-as-276614></p>
                    </div>
                  </div>
                </div>
              </div>

      </div>
    </div>
  </div>
</div>
