{{'staple.css' | asset_url | stylesheet_tag }}
<div class="landing-page">
	{% section 'staple-landing-banner-video' %} 
  	{% section 'staple-custom-content' %}
  	{% section 'staple-landing-page-video' %}
  	{% section 'staple-landing-product-assortment' %}
  	{% section 'staple-landing-product-selector' %}
  	{% section 'staple-landing-page-bottom-banner' %}
</div>
