<style>
  .page-alphaBravo,
.page-alphaBravo *{
  font-family: "Proxima Nova Rg";
}


.site-footer{
	margin-top: 0 !important;
}
.main-content{
	padding-bottom: 0 !important;
}

#video-viewport {
  position: relative;
  padding-top: 40%;
  background: #fff;
  overflow: auto;
}

#video-viewport .fallback-img {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
}

#video-viewport video {
  position: absolute;
  z-index: 2;
  top: 0;
}
.video-con {
  text-align: center;
  padding: 30px 15px;
}

.video-conbox h1 {
  font-size: 24px; 
  margin: 0;
}
.video-conbox h2 {
  font-size: 18px;
}

.btn-transparent {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight:600;
  color: #222222;
  font-size: 15px;
  transition: all .3s ease-in-out;
}
.btn-transparent:hover {
    color: #555555 !important;
}

.btn-transparent i {
  font-size: 14px;
  padding: 3px 0 0 10px;
}
.video-conbox {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.video-conbox img {
    max-width: 300px;
}

 .video-conbox .btn-transparent {
      display: inline-block;
      padding: 10px 40px;
      background-color: #ffffff;
      color: #222222;
      font-weight: 600;
      font-size: 15px;
       margin: 0;
      letter-spacing: .0125em;
      text-decoration: none;
   	  margin-top: 20px;
  }

 .video-conbox  .btn-transparent:hover {
      background-color: #ffffffff;
      color: #bb2131 !important;
      text-decoration: none;
  }
.mobile{
  	display: block;
  }
  .desktop{
  	display: none;
  }
#video-viewport.mobile {
    padding-top: 61%;
  	overflow: hidden;
}
.fallback-img img{
	width: 100%;
}
/* landing video style */

.landing-video-inner {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 49.5%;
    padding-top: 25px;
    height: 0;
}
.landing-video-inner iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  	border: none;
}
.landing-video {
    padding: 3.5rem;
}

/* landing product assortments style */
.landing-pro-heading {
    text-align: center;
}
.landing-pro-block span {
    font-family: 'Proxima Nova Rg';
    font-weight: 600;
}
.landing-pro-heading h2{
    letter-spacing: -.19px;
    margin-bottom: 25px;
    font-family: Proxima Nova Rg;
    color: #000;
    font-size: 18px;
    font-weight: 700;
}
.landing-pro-block p{
	margin-bottom: 0;
}
.landing-pro-block a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.landing-pro-block {
    min-width: 200px;
    width: 100%;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
    text-align: center;
  	position: relative;
}
.landing-pro-ass-slide {
    display: flex;
    overflow-x: scroll;
}
/* media css start */
@media all and (min-width:640px){

  .bravo-navbarRow ul {
    display: flex;
    justify-content: space-between;
  }
  .bravo-navbarRow ul li {
    display: inline-block;
    padding: 0;
  }

  .custom-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
  }
  .explore-item {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .discover-sliderItem {
    max-width: 50%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .discover-slider {
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
  }


  .travel-slider {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
        justify-content: center;
        width: 100%;
    max-width: 100%;
  }

  .travel-sliderItem {
    max-width: 33.33%;
    padding-left: 5px;
    padding-right: 5px;
  }
  
	
}



  section.fullsize-video-bg {
    position: relative;
  }

  .video-con {
    position: absolute;
    top: 50%;
    z-index: 2;
    color: #ffffff;
    padding: 0;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    padding: 0 10px;
  }

  .video-conbox {
    max-width: 100%;
  }
  .video-conbox .btn-transparent {
    min-width: 300px;
}

@media all and (min-width: 750px){
  .landing-pro-heading h2{
	font-size: 24px;
  }
}


@media all and (min-width:992px){
  .video-conbox h1 {
    font-size: 32px;
    margin-bottom: 6px;
  }
  .video-conbox {
    max-width: 60%;
  }
  .mobile{
  	display:none;
  }
  .desktop{
  	display: block;
  }
}


@media all and (min-width:1199px){

  .video-conbox {
    max-width: 686px;
  }

  .video-con {
    width: 100%;
  }

  .video-conbox h1 {
    font-size: 45px;
    margin: 0;
  }

  .video-conbox h2 {
    font-size: 23px;
    margin-bottom: 16px;
  }

  .video-conbox p {
    font-size: 18px;
    margin-bottom: 30px;
  }

}

@media all and (max-width: 768px){
  .landing-video {
      padding: 22px 0;
  }
}
/* ++++++++++++++++++++++++*/
 





/*backpacks css start */

.backpack-wrap {
  margin: 30px 0;
}
.video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}


.backpack-con {
  text-align: center;
  padding: 30px 0 0;
}

.backpack-con h2 {
  font-weight: 600;
}

.backpack-con h3 {
  margin: 0;
}

.backpack-con span.subtitle {
  display: inline-block;
  margin-bottom: 15px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn-primary {
  background: #262626;
  color: #ffffff;
  display: inline-block;
  padding: 12px 20px;
}


/*discover alpha css start  */
#aplhatwo {
  padding: 30px 0;
}
/* #shopify-section-19-degree-product-carousel {
  background: #ebedec;
  padding: 30px 0;
} */

#ProductCardImageWrapper-19-degree-product-carousel-4458454089771, .grid-view-item__image-wrapper.product-card__image-wrapper.js{
    max-width: 222.22222222222223px;
}
  
.header-block {
  text-align: center;
  margin-bottom: 40px;
}

.header-block span.subtitle {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 6px;
  display: inline-block;
}


.video-discover {
  position: relative;
  overflow: hidden;
  width: 100%;
  /*padding-top: 75.25%;
  background: #000000;*/
}
/* 
.fallback-img {
  position: absolute;
  top: 0;
}

.video-discover video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
} */

.discover-item {
  margin-bottom: 40px;
}

.discover-item:last-child {
  margin-bottom: 0px;
}


.discover-sliderWrap {
  margin: 50px 0 0;
}

.discover_desc {
  padding: 20px 0;
}

.discover_desc h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}
@media all and (max-width:750px){
  .discover-aplha .discover-item{
      display: flex;
    flex-wrap: wrap;
  }
  .discover-aplha .discover-item .video-col{
    order:1;
  }
  .discover-aplha .discover-item .video-desc{
    order:2;
  }
}

.alpha-slider .slick-prev:before {
  content: "\f060";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 16px;
  opacity: 1 !important;
}
.alpha-slider .slick-next:before {
  content: "\f061";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 16px;
}
.travel-con span.subheading {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 5px;
  display: inline-block;
  letter-spacing: 1px;
}


.travel-sliderItem .discover_desc {
  padding: 10px 0;
  text-align: center;
}
.travel-sliderItem .discover_desc h3 {
  font-size: 16px;
  margin: 0;
}
.travel-sliderItem .discover_desc .product_subtitle {
  display: block;
  font-size: 15px;
}
.travel-sliderItem .discover_desc .product_price {
  font-weight: 600;
  font-size: 14px;
}

.travel-sliderItem .product-tag {
  position: absolute;
  top: 10px;
  display: block;
  background: #ffffff;
  left: 10px;
  box-shadow: 0 10px 20px -5px rgba(115,115,115,0.5),
    10px 0 20px -5px rgba(115,115,115,0.5);
  font-size: 13px;
  font-weight: 600;
  padding: 4px 10px;
}

.travel-sliderItem .discover_img {
  background: #f5f5f5;
  position: relative;
}


.travel-sliderWrap .slick-prev {
  left: 0 !important;
  z-index: 1;
}
.travel-sliderWrap .slick-next {
  right: 0 !important;
  z-index: 1;
}
.travel-sliderWrap .slick-arrow {
  background: #ffffff;
  border: 1px solid #dddddd;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  z-index:1;
  transition: all .3s ease-in-out;
}
.travel-sliderWrap .slick-arrow:hover{
  background:#000000;
  border-color:#000000;

}
.travel-sliderWrap .slick-arrow:hover:before{

  color:#ffffff;
}

.travel-sliderWrap .slick-arrow:before {
  font-size: 14px !Important;
}

.alpha-bravo-bg .video-conbox {
  color: #ffffff;
}
.alpha-bravo-bg .video-con {
  padding-bottom: 90px;
}

.alpha-slider .slick-prev {
  left: -20px;
  z-index: 1;
}

.alpha-slider .slick-next {
  right: -20px;
  z-index: 1;
}


.alphaBravo-slider {
  margin-top: -120px;
}


.alphaBravo-slider {
  margin-top: -120px;
}

.alphaBravo-slider .discover_img {
  border-radius: 15px;
  border: 4px solid transparent;
  transition: all .3s ease-in-out;
  overflow:hidden;
}




.alphaBravo-slider .discover-sliderItem:hover .discover_img, .alphaBravo-slider .discover-sliderItem:hover h3{
  border-color:#000000;
}

.alphaBravo-slider .discover_desc {
  text-align: center;
}

.btn-primary:hover {
  background: #000000 !important;
  color: #ffffff !important;
}

.alphaBravo-slider .discover_desc h3 {
  display: inline-block;
  border-bottom: 2px solid transparent;
  transition: all .3s;
  margin-bottom: 6px;
}

.alphaBravo-slider .discover_desc h3:hover {
  border-bottom-color: black;
}

.alpha-bravo-bg a.btn-transparent:hover {
  color: #d0cbcb;
}


.discover-slider .slick-list.draggable, .discover-slider .slick-track {
    width: 100%;
}


.slick-slide img {
    display: block;
    margin: 0 auto;
}

 .video-conbox .btn-transparent {
      display: inline-block;
      padding: 15px 20px;
      background-color: #ffffff;
      color: #222222;
      font-weight: 600;
      font-size: 15px;
       margin: 0;
      letter-spacing: .0125em;
      text-decoration: none;
  }

 .video-conbox  .btn-transparent:hover {
      background-color: #ffffffff;
      color: #bb2131 !important;
      text-decoration: none;
  }




/* media css start */
@media all and (min-width:640px){
   .video-conbox .btn-transparent {
      margin-top: 20px;
  }

  .bravo-navbarRow ul {
    display: flex;
    justify-content: space-between;
  }
  .bravo-navbarRow ul li {
    display: inline-block;
    padding: 0;
  }

  .custom-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
  }
  .explore-item {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .discover-sliderItem {
    max-width: 50%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .discover-slider {
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
  }


  .travel-slider {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
        justify-content: center;
        width: 100%;
    max-width: 100%;
  }

  .travel-sliderItem {
    max-width: 33.33%;
    padding-left: 5px;
    padding-right: 5px;
  }

/*   div#shopify-section-alpha-three .slick-track {
      max-width: 100% !important;

  } */
  

}



@media all and (min-width:750px){
  section.fullsize-video-bg {
    position: relative;
  }

  .video-con {
    position: absolute;
    top: 50%;
    z-index: 2;
    color: #ffffff;
    padding: 0;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
  }

  .video-conbox {
    max-width: 100%;
  }

  .backpack-wrap {
    margin: 50px 0;
    display: flex;
    flex-direction: row-reverse;
    align-items:center;
  }

  .backpack-video {
    width: 55%;
  }

  .backpack-con {
    width: 45%;
    padding: 0 30px;
  }
  .backpack-con h3 {
    font-size: 20px;
  }

  .explore-row .explore-item {
    width: 25%;
  }
  .explore-collection.explore-two .explore-item {
    width: 33.33%;
  }

  .discover-item {
    margin-left: -30px;
    margin-right: -30px;
    display: flex;
    flex-wrap:wrap;
    align-items:center;
  }
  .discover-item .video-col {
    width: 50%;
    padding-left: 30px;
    padding-right: 30px;
  }
  .discover-item .video-desc {
    width: 50%;
    padding-left: 30px;
    padding-right: 30px;
  }
  .discover-item .video-desc .backpack-con {
    width: 100%;
    padding: 0;
  }
  .discover-aplha .discover-item:nth-child(even) {
    flex-direction: row-reverse;
  }
  .discover-sliderItem {
    max-width: 25%;
  }
  .discover-sliderWrap {
    margin: 70px 0 0;
  }
  .discover-sliderWrap .header-block {
    margin-bottom: 20px;
  }
  #aplhathree .backpack-wrap {
    flex-direction: row;
  }
  .alpha-bravo-bg {
    padding: 30px 0;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .alpha-bravo-bg .video-con {
    position: relative;
    transform: none;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0 auto;
    max-width: 700px;
  }


  .fullsize-video-bg a.btn-transparent:hover {
    color: #d0cbcb;
  }


}


@media all and (min-width:992px){
  .video-conbox h1 {
    font-size: 32px;
    margin-bottom: 6px;
  }
  .video-conbox {
    max-width: 60%;
  }
  .bravo-navbarRow {
    padding: 0 14%;
  }
  .bravo-navbarRow ul li a {
    font-size: 15px;
  }
  .discover-aplha .discover-item:nth-child(odd) .backpack-con {
    padding: 0 70px;
  }
  .discover-aplha .discover-item:nth-child(even) .backpack-con {
    padding: 0 30px;
  }

}


@media all and (min-width:1199px){

  .video-conbox {
    max-width: 686px;
  }

  .video-con {
    width: 100%;
  }

  .video-conbox h1 {
    font-size: 45px;
    margin: 0;
  }

  .video-conbox h2 {
    font-size: 23px;
    margin-bottom: 16px;
  }

  .video-conbox p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .bravo-navbarRow ul li a {
    font-size: 16px;
  }
  .bravo-navbar {
    padding: 30px 0;
  }

  .backpack-con {
    padding: 0 90px 0 40px;
  }

  .backpack-con h2 {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: normal;
  }

  .backpack-con h3 {
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 6px;
  }

  .backpack-con span.subtitle {
    font-size: 18px;
    margin-bottom: 20px;
    letter-spacing: 3px;
  }

  .backpack-con p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .explore-collection h2.block_title {
    font-size: 36px;
    margin: 0;
  }

  .explore-content h4 {
    font-size: 14px;
    margin: 0;
  }

  .explore-content span {
    font-size: 12px;
  }
  .explore-collection.explore-two .explore-content h4 {
    font-size: 18px;
  }
  .explore-content a span {
    font-size: 15px;
  }

  #aplhatwo {
    padding: 50px 0;
  }
  .header-block span.subtitle {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .header-block .block_title {
    font-size: 36px;
    margin: 0;
  }
  .header-block {
    margin-bottom: 50px;
  }
  .video-container {
    padding-top: 63.25%;
  }

  .backpack-con.travel-con {
    padding: 0 0 0 70px;
  }

  .travel-con span.subheading {
    letter-spacing: 2px;
  }

  .backpack-con.travel-con p {
    padding: 0 30px;
  }

  #aplhathree .backpack-wrap {
    margin: 70px 0 0;
  }
   .travel-sliderItem {
    //max-width: 16.5%;
        width: 100% !important;
  } 

  .travel-sliderWrap {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
  }

  #aplhathree .explore-collection {
    margin: 60px 0;
  }

  .alphaBravo-slider {
    padding: 0 70px;
    margin-top: -140px;
  }
  .alphaBravo-slider .discover_desc h3 {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  .alphaBravo-slider .discover_desc p {
    font-size: 14px;
  }




}


.travel-slider_product .product-tag {
  position: absolute;
  top: 10px;
  display: block;
  background: #ffffff;
  left: 10px;
  box-shadow: 0 10px 20px -5px rgba(115, 115, 115, 0.5), 10px 0 20px -5px rgba(115, 115, 115, 0.5);
  font-size: 13px;
  font-weight: 600;
  padding: 4px 10px; }
/* media css end */

.desktop_view{
  display:none;
} 

/* gift for her */

/* End gift*/
  
@media all and (min-width: 650px){
  .desktop_view{
    display:block;
  } 
  .mobile_view{
    display:none;
  } 
}
  #video-viewport{
    overflow: hidden;
  }
  .sc-content-inner h3{
    text-align:center;
    margin-bottom:25px;
  }

  @media all and (min-width: 767px){
  .video-con{
    left:36%;
  }
    .video-conbox{
      align-items: self-start;
    }
  }


a.btn.btn-black{
    background-color: #000000;
    display: inline-block;
    padding: 15px 20px;
    color: #ffffff;
    font-weight: 600;
    font-size: 15px;
    margin: 0;
    letter-spacing: .0125em;
    text-decoration: none;
    max-width: 100%;
    width: 80%;
    border: none;
}  
  @media all and (min-width:1024px){
    .text-section {
    padding:30px 125px!important;
  }
  .gift-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .gift-wrapper .git-her{
     width: 38%;
  }
  .gift-wrapper .degree_product, .gift-wrapper .degree_products{
      width: 60%;
   }
  .gift-wrapper .degree_products{
    order:1;
  }
  .gift-wrapper .git-order{
    order:2;
  }

  
  }
</style>

<div class="landing-page tegra-landing">
{% section 'gift-guide-banner' %}
{% section 'gift-guid-column-contents' %}
{% section 'gift-guid-for-her' %}
{% section 'gift-guid-for-him' %}
{% section 'gift-guid-image-with-text' %}
{% comment %} {% section 'gift-guid-tabbing' %} {% endcomment %}
{% section 'gift-guid-tabs' %}
{% section 'gift-guid-grid' %}
</div> 

