{{'alpha-bravo.scss' | asset_url | stylesheet_tag }}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
{{'alpha.js' | asset_url | script_tag }}
<style>
.fa, .far, .fas {
    font-family: "Font Awesome 5 Free" !important;
}
 
</style>

<div class="page-alphaBravo">
 
 {% section 'alpha-full-width-video-Gracie' %} 
 {% section 'alpha-navbar-Gracie' %} 
 {% section 'alphaone-Gracie' %}  
 {% section 'alphatwo-Gracie' %}
 {% section  'alpha-three-Gracie' %}  
 {% section  'alpha-bravo-Gracie' %} 

</div>   