<div class="tumi_container">
 <!-- nav and 1st banner -->
  {% section 'mclaren_nav' %}
  <!-- 2nd banner and richtext -->
  {% section 'mclaren_2ndBanner_richtext' %}
   <!-- Gallery -->
      {% section 'mclaren_img_slider' %}
  <!-- Detail content -->
  		 <section class="info_con">
            <div class="container-full">
              <!-- Case Box -->
               {% section 'mclaren_pro_slider' %} 
            	{% section 'mclaren_banner_with_text' %}	
               <!-- Fun con -->
              	{% section 'mclaren_img_with_text' %}
             </div>
         </section>
</div>

